Repository aragon/app, pull requests merged in 2022-09, with the labels that each got.

#478 Feature: APP-753 - Proposal Listing from SDK
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/containers/proposalSnapshot/index.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/hooks/usePluginClient.tsx
  packages/web-app/src/hooks/useProposals.tsx
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/utils/constants/misc.ts
Labels: web-app, preview

#472 Feature: APP-906 - Mint Tokens empty-state & duplication validation
  packages/ui-components/src/components/input/valueInput.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/addressRow.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/addressTokenRow.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/utils/validators.ts
Labels: ui-components, web-app, preview

#483 Fix: App-842 - Token Summary Floating Point Imprecision
  packages/web-app/package.json
  packages/web-app/src/containers/actionBuilder/mintTokens/addressTokenRow.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  yarn.lock
Labels: web-app

#481 Feature: Finance Transaction Listing SDK
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/tokenMenu/index.tsx
  packages/web-app/src/containers/transactionDetail/index.tsx
  packages/web-app/src/context/transactionDetail.tsx
  packages/web-app/src/hooks/useDaoBalances.tsx
  packages/web-app/src/hooks/useDaoTransfers.tsx
  packages/web-app/src/hooks/useDaoVault.tsx
  packages/web-app/src/hooks/usePollTransfersPrices.tsx
  packages/web-app/src/hooks/useTokenMetadata.tsx
  packages/web-app/src/hooks/useWalletTokens.tsx
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/pages/finance.tsx
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/utils/types.ts
Labels: web-app, preview

#480 Feature: APP-819
  packages/ui-components/src/components/badge/badge.tsx
  packages/web-app/src/components/descriptionList/index.tsx
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/hooks/usePluginSettings.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/editSettings.tsx
  packages/web-app/src/pages/settings.tsx
  packages/web-app/src/utils/date.ts
Labels: ui-components, web-app

#484 Feature: App-724 Remove Existing Token
  packages/web-app/src/containers/goLive/community.tsx
  packages/web-app/src/containers/setupCommunity/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
Labels: web-app, preview

#485 catch Bigjs invalid number error
  packages/web-app/src/containers/actionBuilder/mintTokens/addressTokenRow.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
Labels: web-app

#486 Feature: APP-954 - Proposal Metadata from SDK
  packages/web-app/package.json
  packages/web-app/src/components/executionWidget/index.tsx
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/components/resourceList/__tests__/resourceList.test.tsx
  packages/web-app/src/components/resourceList/index.tsx
  packages/web-app/src/containers/proposalSnapshot/index.tsx
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/useMappedBreadcrumbs.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/types.ts
  yarn.lock
Labels: web-app

#487 Chore: Minor fixes to analytics & copy change
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
Labels: web-app

#489 Feature: APP-966 - Proposal Details - Voting Terminal
  packages/ui-components/src/components/table/votersTable.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/proposals.ts
Labels: ui-components, web-app

#488 Feature: App 891 - Member List from SDK
  packages/web-app/src/components/executionWidget/actions/mintTokenCard.tsx
  packages/web-app/src/components/membersList/index.tsx
  packages/web-app/src/containers/actionBuilder/removeAddresses/index.tsx
  packages/web-app/src/containers/membershipSnapshot/index.tsx
  packages/web-app/src/hooks/useDaoMembers.tsx
  packages/web-app/src/hooks/usePluginClient.tsx
  packages/web-app/src/hooks/usePluginSettings.tsx
  packages/web-app/src/hooks/useProposals.tsx
  packages/web-app/src/hooks/useWalletCanVote.tsx
  packages/web-app/src/pages/community.tsx
  packages/web-app/src/pages/dashboard.tsx
Labels: web-app

#490 Feature: App-965 Proposal Actions - Execution Widget
  packages/web-app/src/components/executionWidget/index.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/library.ts
  packages/web-app/src/utils/types.ts
Labels: web-app

#482 Feature: app-822 Enable Edit Status on Accordion
  packages/web-app/src/pages/editSettings.tsx
Labels: web-app

#495 Feature: APP-1019 - Remove Settings Action
  packages/web-app/src/hooks/useDaoActions.tsx
Labels: web-app

#493 Feat: Store Deposits locally to display loading state
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/deposit.tsx
  packages/web-app/src/hooks/useDaoTransfers.tsx
  packages/web-app/src/hooks/usePollTransfersPrices.tsx
  packages/web-app/src/locales/en/common.json
Labels: web-app

#491 Feature: APP-907 - Proposal Details: Status Widget
  packages/ui-components/src/components/progress/status.tsx
  packages/ui-components/src/components/widgets/status.tsx
  packages/web-app/src/components/resourceList/index.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/proposals.ts
Labels: ui-components, web-app

#498 Feature: APP-442 - Explorer Links
  packages/web-app/src/containers/exploreFooter/index.tsx
  packages/web-app/src/containers/navbar/exploreNav.tsx
  packages/web-app/src/utils/constants/misc.ts
  packages/web-app/tailwind.config.js
Labels: web-app, preview

#499 Chore: Finance Analytics Events
  packages/web-app/src/components/transferList/index.tsx
  packages/web-app/src/containers/reviewDeposit/index.tsx
  packages/web-app/src/containers/transactionDetail/index.tsx
  packages/web-app/src/containers/transferMenu/index.tsx
  packages/web-app/src/context/deposit.tsx
  packages/web-app/src/pages/finance.tsx
  packages/web-app/src/pages/newDeposit.tsx
Labels: web-app, preview

#497 Feature: F/APP-1000 Adding withdraw method for proposal actions
  packages/web-app/src/containers/proposalStepper/index.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/hooks/useDaoActions.tsx
  packages/web-app/src/hooks/useDaoMetadata.tsx
  packages/web-app/src/hooks/useDaoParam.tsx
  packages/web-app/src/hooks/usePluginClient.tsx
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/pages/editSettings.tsx
  packages/web-app/src/pages/finance.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/pages/manageMembers.tsx
  packages/web-app/src/pages/mintTokens.tsx
  packages/web-app/src/pages/newDeposit.tsx
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/settings.tsx
  packages/web-app/src/pages/tokens.tsx
  packages/web-app/src/pages/transfers.tsx
Labels: web-app

#501 Feature: APP-1003 - Mint tokens encoding
  packages/web-app/package.json
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/pages/mintTokens.tsx
  packages/web-app/src/utils/types.ts
Labels: web-app

#502 Feature: APP-989 - Gating user on voting
  packages/web-app/src/hooks/useWalletCanVote.tsx
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#503 Fix broken staging
  .github/workflows/pull_request_webapp_preview.yml
  .github/workflows/webapp-deploy.yml
  .github/workflows/webapp-push.yml
Labels: preview

#504 Feature: Proposal Action - Add/Remove address
  packages/web-app/src/containers/goLive/index.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/context/deposit.tsx
Labels: web-app

#505 Feature: Add/Remove wallet execution widgets
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/usePluginClient.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/library.ts
Labels: web-app

#506 Feature: APP-1084 - Vote on Active proposal
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/proposals.ts
Labels: web-app
