Repository aragon/app, pull requests merged in 2022-02, with the labels that each got.

#189 Fix/Searching token menu
  packages/web-app/src/containers/tokenMenu/index.tsx
Labels: bug, web-app

#176 Removes processes
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/IDAO.sol
  packages/contracts/contracts/core/processes/Process.sol
  packages/contracts/contracts/core/processes/disputable/DisputableProcess.sol
  packages/contracts/contracts/core/processes/stoppable/StoppableProcess.sol
  packages/contracts/contracts/core/processes/voting/DisputableVotingProcess.sol
  packages/contracts/contracts/core/processes/voting/StoppableVotingProcess.sol
  packages/contracts/contracts/core/processes/voting/VotingProcess.sol
  packages/contracts/contracts/factories/DAOFactory.sol
  packages/contracts/contracts/permissions/ERC20ACLOracle.sol
  packages/contracts/contracts/test/DAOMock.sol
  packages/contracts/contracts/votings/simple/SimpleVoting.sol
  packages/contracts/test/voting/simple-voting.ts
Labels: contracts

#164 Feature/factory tests
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/component/Component.sol
  packages/contracts/contracts/factories/DAOFactory.sol
  packages/contracts/contracts/factories/TokenFactory.sol
  packages/contracts/contracts/permissions/DAOPermissionHandler.sol
  packages/contracts/contracts/test/ActionExecute.sol
  packages/contracts/contracts/tokens/GovernanceERC20.sol
  packages/contracts/contracts/tokens/GovernanceWrappedERC20.sol
  packages/contracts/contracts/tokens/MerkleDistributor.sol
  packages/contracts/contracts/tokens/MerkleMinter.sol
  packages/contracts/contracts/votings/simple/SimpleVoting.sol
  packages/contracts/test/dao-factory.ts
  packages/contracts/test/utils/voting.ts
  packages/contracts/test/voting/simple-voting.ts
Labels: contracts

#188 Feature/Add logo component DAO-650
  packages/ui-components/__tests__/inputImageSingle.test.tsx
  packages/ui-components/src/components/input/index.ts
  packages/ui-components/src/components/input/inputImageSingle.tsx
  packages/ui-components/stories/inputImage.stories.tsx
  packages/ui-components/stories/inputImageSingle.stories.tsx
  packages/web-app/src/containers/defineMetadata/index.tsx
  packages/web-app/tailwind.config.js
Labels: ui-components, web-app

#194 Chore/Update CheckboxListItem & TextInput - DAO-673
  packages/ui-components/src/components/button/buttonBase.tsx
  packages/ui-components/src/components/checkbox/checkboxListItem.tsx
  packages/ui-components/src/components/input/textInput.tsx
  packages/ui-components/stories/checkboxListItem.stories.tsx
  packages/ui-components/tailwind.config.js
Labels: ui-components

#190 Feature/Single Proposal assemble page DAO-598
  packages/ui-components/__tests__/cardProposal.test.tsx
  packages/ui-components/src/components/cards/cardProposal.tsx
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/proposals.tsx
  packages/web-app/src/utils/paths.ts
  packages/web-app/tailwind.config.js
Labels: web-app

#197 chore/ DAO-674
  packages/ui-components/src/components/input/inputImageSingle.tsx
Labels: ui-components

#201 Feature/ Description list and Checkbox->Simple components DAO-657
  packages/ui-components/__tests__/checkboxSimple.test.tsx
  packages/ui-components/src/components/checkbox/checkboxListItem.tsx
  packages/ui-components/src/components/checkbox/checkboxSimple.tsx
  packages/ui-components/src/components/checkbox/index.ts
  packages/ui-components/stories/checkboxSimple.stories.tsx
  packages/web-app/src/components/descriptionList/index.tsx
  packages/web-app/tailwind.config.js
Labels: ui-components, web-app

#200 Feature/Links adding module - DAO-638
  packages/web-app/src/components/addLinks/__tests__/addLinks.test.tsx
  packages/web-app/src/components/addLinks/header.tsx
  packages/web-app/src/components/addLinks/index.tsx
  packages/web-app/src/components/addLinks/row.tsx
  packages/web-app/src/containers/defineMetadata/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/tailwind.config.js
Labels: web-app

#187 Feature/Assemble page (Select blockchain) - DAO-634
  packages/web-app/src/components/fullScreenStepper/fullScreenStepper.tsx
  packages/web-app/src/containers/selectChainForm/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/utils/constants.ts
Labels: web-app

#205 Chore/Proposal page fix DAO-598
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#202 Assemble/ DAO-656
  packages/ui-components/src/components/button/buttonIcon.tsx
  packages/ui-components/src/components/input/inputImageSingle.tsx
  packages/ui-components/src/components/input/numberInput.tsx
  packages/ui-components/stories/inputImageSingle.stories.tsx
  packages/ui-components/stories/inputNumber.stories.tsx
  packages/ui-components/tailwind.config.js
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/containers/defineMetadata/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/tailwind.config.js
Labels: web-app

#206 Feature/Assemble Define Proposal page DAO-645
  packages/ui-components/src/components/textarea/wysiwyg.tsx
  packages/web-app/src/components/addLinks/index.tsx
  packages/web-app/src/components/fullScreenStepper/fullScreenStepper.tsx
  packages/web-app/src/containers/defineProposal/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/newWithdraw.tsx
Labels: web-app

#168 Feature/Voting terminal DAO-588
  packages/ui-components/src/components/button/buttonGroup/buttonGroup.tsx
  packages/ui-components/src/components/checkbox/checkboxListItem.tsx
  packages/ui-components/src/components/table/votersTable.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/home.tsx
  packages/web-app/src/pages/transfers.tsx
Labels: web-app

#208 Fix/Assemble page (Select blockchain) - DAO-634
  packages/ui-components/src/components/listItem/text.tsx
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/selectChainForm/index.tsx
Labels: bug, web-app

#215 Fix/Staging bug - DAO-689
  packages/ui-components/src/components/input/index.ts
Labels: bug, ui-components

#207 Feature/Fetch existing token info & validation - DAO-654
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/containers/setupCommunity/index.tsx
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/utils/tokens.ts
Labels: web-app

#196 Feature/Transfer Modal DAO-660
  packages/ui-components/src/components/icons/interface/icon_reload.tsx
  packages/ui-components/src/components/icons/interface/index.ts
  packages/ui-components/src/components/icons/interface/radio/cancel.tsx
  packages/ui-components/src/components/icons/interface/radio/index.ts
  packages/ui-components/src/components/modal/modal.tsx
  packages/ui-components/stories/modal.stories.tsx
  packages/ui-components/tailwind.config.js
  packages/web-app/package.json
  packages/web-app/src/app.tsx
  packages/web-app/src/components/bottomSheet/index.tsx
  packages/web-app/src/components/modalBottomSheetSwitcher/index.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/depositForm/index.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/containers/tokenMenu/index.tsx
  packages/web-app/src/containers/transactionModal/index.tsx
  packages/web-app/src/containers/transferMenu/index.tsx
  packages/web-app/src/containers/utcMenu/index.tsx
  packages/web-app/src/containers/walletMenu/index.tsx
  packages/web-app/src/context/globalModals.tsx
  packages/web-app/src/hooks/useScreen.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/finance.tsx
  packages/web-app/src/pages/home.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/tokens.tsx
  packages/web-app/src/pages/transfers.tsx
Labels: web-app

#212 feature / DAO-677
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/dao.ts
  packages/subgraph/src/utils/constants.ts
  packages/subgraph/tests/dao/dao.test.ts
  packages/subgraph/tests/dao/utils.ts
  packages/subgraph/tests/utils.ts
Labels: contracts

#223 Fix/Chain selection DAO-688
  packages/web-app/src/containers/selectChainForm/index.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/context/augmentedWallet.tsx
Labels: web-app

#222 Feature/Form validation Define Proposal DAO-686
  packages/ui-components/src/components/textarea/wysiwyg.tsx
  packages/web-app/src/components/addLinks/index.tsx
  packages/web-app/src/containers/defineProposal/index.tsx
  packages/web-app/src/locales/en/common.json
Labels: ui-components, web-app

#219 Assemble/ DAO-652
  packages/ui-components/src/components/input/textInput.tsx
  packages/web-app/src/components/addWallets/__tests__/addWallets.test.tsx
  packages/web-app/src/components/addWallets/footer.tsx
  packages/web-app/src/components/addWallets/header.tsx
  packages/web-app/src/components/addWallets/index.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/depositForm/index.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/containers/setupCommunity/createNewToken.tsx
  packages/web-app/src/containers/setupCommunity/index.tsx
  packages/web-app/src/locales/en/common.json
Labels: ui-components, web-app

#218 Feature/Form validation (DAO metadata) - DAO-641
  packages/web-app/src/components/addLinks/index.tsx
  packages/web-app/src/components/addLinks/row.tsx
  packages/web-app/src/containers/defineMetadata/index.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/utils/constants.ts
Labels: web-app

#224 fix: adds pull request preview for ui-components and webapp
  .github/workflows/preview_delete.yml
  .github/workflows/pull_request_storybook_preview.yml
  .github/workflows/pull_request_webapp_preview.yml
  packages/web-app/vite.config.ts
Labels: web-app, preview

#228 fix: sonarcloud config
  .github/workflows/webapp-push.yml
  packages/web-app/index.html
Labels: web-app

#233 Feature / DAO-629
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/IDAO.sol
  packages/contracts/contracts/test/DAOMock.sol
  packages/contracts/contracts/votings/simple/SimpleVoting.sol
  packages/contracts/contracts/votings/whitelist/WhitelistVoting.sol
  packages/subgraph/manifest/data/arbitrum-rinkeby.json
  packages/subgraph/manifest/data/localhost.json
  packages/subgraph/manifest/data/rinkeby.json
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/dao/dao.ts
  packages/subgraph/src/dao/utils.ts
  packages/subgraph/src/packages/SimpleVoting/simpleVoting.ts
  packages/subgraph/src/packages/simpleVoting.ts
  packages/subgraph/src/registry.ts
  packages/subgraph/src/utils/tokens.ts
  packages/subgraph/tests/SimpleVoting/simpleVoting.test.ts
  packages/subgraph/tests/SimpleVoting/utils.ts
  packages/subgraph/tests/dao/acl.test.ts
  packages/subgraph/tests/dao/dao.test.ts
  packages/subgraph/tests/dao/utils.ts
  packages/subgraph/tests/registry/registry.test.ts
  packages/subgraph/tests/registry/utils.ts
  packages/subgraph/tests/utils.ts
Labels: contracts, subgraph

#231 Fix/Links adding module - DAO-638
  packages/web-app/src/components/addLinks/index.tsx
  packages/web-app/src/components/addLinks/row.tsx
  packages/web-app/src/pages/createDAO.tsx
Labels: web-app

#234 Feature/gsn
  packages/contracts/contracts/core/component/Component.sol
  packages/contracts/contracts/core/component/Permissions.sol
  packages/contracts/contracts/factories/DAOFactory.sol
  packages/contracts/contracts/tokens/GovernanceERC20.sol
  packages/contracts/contracts/tokens/GovernanceWrappedERC20.sol
  packages/contracts/contracts/tokens/MerkleMinter.sol
  packages/contracts/contracts/votings/simple/SimpleVoting.sol
  packages/contracts/contracts/votings/whitelist/WhitelistVoting.sol
  packages/contracts/package.json
  packages/contracts/test/dao-factory.ts
  packages/contracts/test/voting/simple-voting.ts
  packages/contracts/test/voting/whitelist-voting.ts
  yarn.lock
Labels: contracts

#226 Feature: Assemble voting setup page - Dao 621
  packages/ui-components/package.json
  packages/ui-components/src/components/input/dateInput.tsx
  packages/ui-components/src/components/input/dropdownInput.tsx
  packages/web-app/src/app.tsx
  packages/web-app/src/components/inputTime/inputTime.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/containers/setupVotingForm/dateModeSwitch.tsx
  packages/web-app/src/containers/setupVotingForm/dateTimeErrors.tsx
  packages/web-app/src/containers/setupVotingForm/index.tsx
  packages/web-app/src/containers/utcMenu/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/utils/date.ts
  yarn.lock
Labels: ui-components, web-app, preview

#237 Fix/oz delegate
  packages/contracts/contracts/tokens/GovernanceERC20.sol
  packages/contracts/contracts/tokens/GovernanceWrappedERC20.sol
Labels: contracts

#238 Feature/vote time
  packages/contracts/contracts/votings/simple/SimpleVoting.sol
  packages/contracts/contracts/votings/whitelist/WhitelistVoting.sol
  packages/contracts/test/dao-factory.ts
  packages/contracts/test/voting/simple-voting.ts
  packages/contracts/test/voting/whitelist-voting.ts
Labels: contracts

#236 Feature/ DAO-694
  packages/contracts/contracts/factories/DAOFactory.sol
  packages/contracts/contracts/votings/ERC20Voting/ERC20Voting.sol
  packages/contracts/deploy/verify.ts
  packages/contracts/test/dao-factory.ts
  packages/contracts/test/voting/simple-voting.ts
  packages/subgraph/manifest/data/arbitrum-rinkeby.json
  packages/subgraph/manifest/data/localhost.json
  packages/subgraph/manifest/data/rinkeby.json
  packages/subgraph/manifest/subgraph.placeholder.yaml
  packages/subgraph/schema.graphql
  packages/subgraph/src/dao/utils.ts
  packages/subgraph/src/packages/ERC20Voting/erc20Voting.ts
  packages/subgraph/tests/ERC20Voting/erc20Voting.test.ts
  packages/subgraph/tests/ERC20Voting/utils.ts
  packages/subgraph/tests/SimpleVoting/simpleVoting.test.ts
  packages/subgraph/tests/constants.ts
  packages/subgraph/tests/dao/acl.test.ts
  packages/subgraph/tests/dao/dao.test.ts
  packages/subgraph/tests/dao/utils.ts
  packages/subgraph/tests/registry/registry.test.ts
  packages/subgraph/tests/registry/utils.ts
Labels: contracts, subgraph

#243 Feature/Breadcrumb & AlertBanner - DAO-699
  packages/ui-components/__tests__/alertBanner.test.tsx
  packages/ui-components/__tests__/breadcrumb.test.tsx
  packages/ui-components/src/components/alerts/alertBanner.tsx
  packages/ui-components/src/components/alerts/index.ts
  packages/ui-components/src/components/breadcrumb/breadcrumb.tsx
  packages/ui-components/src/components/breadcrumb/crumb.tsx
  packages/ui-components/src/components/breadcrumb/index.ts
  packages/ui-components/src/components/icons/interface/icon_home.tsx
  packages/ui-components/src/components/icons/interface/index.ts
  packages/ui-components/src/index.tsx
  packages/ui-components/stories/alertBanner.stories.tsx
  packages/ui-components/stories/breadcrumbs.stories.tsx
Labels: ui-components

#235 Chore/Apollo client DAO-682
  packages/web-app/package.json
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/hooks/useDaoTokens.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/services/prices.ts
  yarn.lock
Labels: web-app

#242 Feature/Governance page empty state DAO-408
  packages/web-app/index.html
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/public/noProposals.svg
  packages/web-app/tailwind.config.js
Labels: web-app, preview

#241 Feature/Assemble Withdraw Review Page DAO-592
  packages/ui-components/src/components/table/votersTable.tsx
  packages/ui-components/src/components/textarea/wysiwyg.tsx
  packages/web-app/package.json
  packages/web-app/src/components/addLinks/index.tsx
  packages/web-app/src/components/addLinks/row.tsx
  packages/web-app/src/containers/reviewWithdraw/index.tsx
  packages/web-app/src/containers/setupVotingForm/index.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/services/prices.ts
Labels: ui-components, web-app, preview

#244 Feature/ListItemAction - DAO-698
  packages/ui-components/__tests__/listItemAction.test.tsx
  packages/ui-components/__tests__/listItemBlockchain.test.tsx
  packages/ui-components/src/components/listItem/action.tsx
  packages/ui-components/src/components/listItem/index.ts
  packages/ui-components/src/components/listItem/text.tsx
  packages/ui-components/stories/listItemAction.stories.tsx
  packages/web-app/src/components/addLinks/row.tsx
  packages/web-app/src/components/addWallets/index.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/containers/selectChainForm/index.tsx
  packages/web-app/src/containers/utcMenu/index.tsx
Labels: ui-components, web-app, preview

#250 fix: upload sourcemaps to apm
  .github/workflows/webapp-deploy.yml
  packages/web-app/package.json
Labels: web-app

#252 Feature/refused to vote
  packages/contracts/contracts/votings/ERC20Voting/ERC20Voting.sol
  packages/contracts/contracts/votings/whitelist/WhitelistVoting.sol
  packages/contracts/test/dao-factory.ts
  packages/contracts/test/test-utils/voting.ts
  packages/contracts/test/voting/simple-voting.ts
  packages/contracts/test/voting/whitelist-voting.ts
Labels: contracts

#249 Add Dropdown from Radix-UI
  packages/ui-components/__tests__/dropdown.test.tsx
  packages/ui-components/package.json
  packages/ui-components/src/components/dropdown/dropdown.tsx
  packages/ui-components/src/components/dropdown/index.ts
  packages/ui-components/stories/dropdown.stories.tsx
  packages/ui-components/tailwind.config.js
  yarn.lock
Labels: ui-components

#248 Feature/ListItemDao & CardDao refactor - DAO-702
  packages/ui-components/__tests__/listItemDao.test.tsx
  packages/ui-components/src/components/avatar/avatarDao.tsx
  packages/ui-components/src/components/cards/cardDao.tsx
  packages/ui-components/src/components/listItem/dao.tsx
  packages/ui-components/src/components/listItem/index.ts
  packages/ui-components/stories/avatarDao.stories.tsx
  packages/ui-components/stories/cardDao.stories.tsx
  packages/ui-components/stories/listItemDao.stories.tsx
  packages/web-app/src/components/daoSwitcherMenu/index.tsx
  packages/web-app/src/containers/navbar/index.tsx
Labels: ui-components, web-app

#255 Chore/Breadcrumb icon - DAO-705
  packages/ui-components/__tests__/breadcrumb.test.tsx
  packages/ui-components/src/components/breadcrumb/breadcrumb.tsx
  packages/ui-components/src/components/breadcrumb/crumb.tsx
  packages/ui-components/src/components/icons/module/icon_finance.tsx
  packages/ui-components/stories/breadcrumbs.stories.tsx
  packages/web-app/src/containers/navbar/breadcrumbDropdown.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/containers/navbar/mobile.tsx
Labels: ui-components, web-app, preview

#253 Chore/Disabled options in ButtonGroup, Link url fixes DAO-701 DAO-592
  packages/ui-components/src/components/button/buttonGroup/button.tsx
  packages/web-app/src/components/addLinks/row.tsx
  packages/web-app/src/containers/reviewWithdraw/index.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/utils/constants.ts
Labels: ui-components, web-app

#240 Assemble page/ DAO-658
  packages/ui-components/src/components/input/inputImageSingle.tsx
  packages/ui-components/stories/inputImageSingle.stories.tsx
  packages/web-app/src/components/addLinks/row.tsx
  packages/web-app/src/components/addWallets/footer.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/containers/daoOverview/index.tsx
  packages/web-app/src/containers/defineMetadata/index.tsx
  packages/web-app/src/containers/goLive/blockchain.tsx
  packages/web-app/src/containers/goLive/community.tsx
  packages/web-app/src/containers/goLive/daoMetadata.tsx
  packages/web-app/src/containers/goLive/governance.tsx
  packages/web-app/src/containers/goLive/index.tsx
  packages/web-app/src/containers/selectChainForm/index.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/public/goLive.svg
Labels: ui-components, web-app, preview
