Repository aragon/app, pull requests merged in 2022-03, with the labels that each got.

#258 Chore/Dao Selector - DAO-704
  packages/ui-components/src/components/dropdown/dropdown.tsx
  packages/ui-components/src/components/listItem/dao.tsx
  packages/ui-components/src/index.tsx
  packages/web-app/src/app.tsx
  packages/web-app/src/components/daoSwitcherMenu/index.tsx
  packages/web-app/src/components/navLinks/index.tsx
  packages/web-app/src/containers/daoOverview/index.tsx
  packages/web-app/src/containers/navbar/__tests__/navbar.test.tsx
  packages/web-app/src/containers/navbar/breadcrumbDropdown.tsx
  packages/web-app/src/containers/navbar/daoSelectMenu.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/containers/navbar/mobile.tsx
  packages/web-app/src/containers/navbar/mobileMenu.tsx
  packages/web-app/src/context/globalModals.tsx
  packages/web-app/src/hooks/useScreen.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/utils/constants.ts
  packages/web-app/tailwind.config.js
Labels: ui-components, web-app, preview

#256 Feature/ DAO-696
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/actionBuilder/withdrawAction.tsx
  packages/web-app/src/containers/addActionMenu/index.tsx
  packages/web-app/src/containers/configureActions/index.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/goLive/governance.tsx
  packages/web-app/src/containers/selectChainForm/index.tsx
  packages/web-app/src/context/actions.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/utils/types.ts
Labels: web-app, preview

#259 Chore/ DAO-706
  packages/web-app/src/components/addWallets/__tests__/addWallets.test.tsx
  packages/web-app/src/components/addWallets/index.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/components/fullScreenStepper/fullScreenStepper.tsx
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/containers/goLive/daoMetadata.tsx
  packages/web-app/src/containers/selectChainForm/index.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/containers/setupCommunity/index.tsx
  packages/web-app/src/pages/createDAO.tsx
Labels: web-app

#247 feat: contract deployment
  .github/workflows/contracts-deploy.yml
  active_contracts.json
  packages/contracts/README.md
  packages/contracts/Releases.md
  packages/contracts/deploy/dao-factory.ts
  packages/contracts/deploy/helpers.ts
  packages/contracts/deploy/token-factory.ts
  packages/contracts/deploy/updateContractsJson.ts
  packages/contracts/deploy/updateReleasesMD.ts
  packages/contracts/deploy/verify.ts
  packages/contracts/scripts/deploy.ts
Labels: contracts

#246 Feat: Subgraph Deployment
  .github/workflows/subgraph-deploy.yaml
  .github/workflows/webapp-deploy.yml
  packages/subgraph/README.md
  packages/subgraph/scripts/deploy-subgraph.sh
Labels: subgraph

#271 Multichain deployments
  .github/helpers/contracts/prepare.js
  .github/helpers/contracts/updateActiveContractsJSON.js
  .github/helpers/contracts/updateReleasesMD.js
  .github/helpers/subgraph/buildMatrix.js
  .github/helpers/subgraph/updateManifest.js
  .github/workflows/contracts-deploy.yml
  .github/workflows/subgraph-deploy.yaml
  .github/workflows/subgraph-tests.yml
  packages/contracts/.env.example
  packages/contracts/deploy/updateContractsJson.ts
  packages/contracts/deploy/updateReleasesMD.ts
  packages/contracts/deploy/verify.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/networks.json
  packages/contracts/package.json
  packages/contracts/utils/etherscan.ts
  yarn.lock
Labels: contracts

#260 Fix/Deposit flow - DAO-707
  packages/web-app/src/containers/depositForm/index.tsx
  packages/web-app/src/containers/tokenMenu/index.tsx
  packages/web-app/src/hooks/useWalletTokens.tsx
  packages/web-app/src/pages/newDeposit.tsx
Labels: web-app

#277 testing contract deploy
  packages/contracts/.env.example
  packages/contracts/deploy/verify.ts
Labels: contracts

#262 Feature/Update action context - DAO-738
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/actionBuilder/withdraw/withdrawAction.tsx
  packages/web-app/src/containers/actionBuilder/withdraw/withdrawActionForm.tsx
  packages/web-app/src/context/actions.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/pages/newProposal.tsx
Labels: web-app

#270 Feature/DAO-661
  .gitignore
  packages/web-app/package.json
  packages/web-app/scripts/generate-abis-and-types.js
  packages/web-app/src/abis/DAOFactory.json
  packages/web-app/src/abis/Registry.json
  packages/web-app/src/abis/TokenFactory.json
  packages/web-app/src/pages/createDAO.tsx
  yarn.lock
Labels: web-app

#264 Fix/Navbar Fixes DAO-737
  packages/ui-components/__tests__/cardDao.test.tsx
  packages/ui-components/__tests__/listItemDao.test.tsx
  packages/ui-components/src/components/wizard/wizard.tsx
  packages/ui-components/stories/wizard.stories.tsx
  packages/web-app/package.json
  packages/web-app/src/components/fullScreenStepper/fullScreenStepper.tsx
  packages/web-app/src/components/fullScreenStepper/step.tsx
  packages/web-app/src/containers/goLive/index.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/containers/navbar/mobile.tsx
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/pages/newDeposit.tsx
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/src/pages/newWithdraw.tsx
Labels: ui-components, web-app

#268 Feature/Page headers - DAO-739
  packages/ui-components/src/components/breadcrumb/breadcrumb.tsx
  packages/ui-components/src/components/breadcrumb/crumb.tsx
  packages/web-app/src/components/wrappers/pageWrappers.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/pages/finance.tsx
  packages/web-app/src/pages/proposal.tsx
Labels: ui-components, web-app

#276 Fix: Dao 692 arbitrum login
  packages/web-app/package.json
  packages/web-app/src/containers/actionBuilder/withdraw/withdrawActionForm.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/depositForm/index.tsx
  packages/web-app/src/containers/reviewDeposit/index.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/context/augmentedWallet.tsx
  packages/web-app/src/context/providers.tsx
  packages/web-app/src/hooks/useEnsData.tsx
  packages/web-app/src/hooks/useTokenInformation.tsx
  packages/web-app/src/hooks/useWalletTokens.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/pages/newDeposit.tsx
  packages/web-app/src/utils/constants.ts
  packages/web-app/src/utils/types.ts
  yarn.lock
Labels: web-app

#266 Chore/ DAO-706
  package.json
  packages/ui-components/src/components/listItem/link.tsx
  packages/ui-components/tailwind.config.js
  packages/web-app/src/components/addWallets/index.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/components/fullScreenStepper/fullScreenStepper.tsx
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/containers/goLive/community.tsx
  packages/web-app/src/containers/goLive/daoMetadata.tsx
  packages/web-app/src/containers/goLive/index.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/containers/setupCommunity/index.tsx
  packages/web-app/src/hooks/useStepper.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/tailwind.config.js
Labels: ui-components, web-app

#265 Feature/ DAO-600
  packages/web-app/src/containers/actionBuilder/withdraw/withdrawActionForm.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/depositForm/index.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/hooks/useTokenInformation.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/queries/dao.tsx
  packages/web-app/src/queries/finances.tsx
  packages/web-app/src/queries/packages.tsx
  packages/web-app/src/queries/proposals.tsx
  packages/web-app/src/services/prices.ts
  packages/web-app/src/utils/constants.ts
Labels: web-app

#280 Feature/initializers modify
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/acl/ACL.sol
  packages/contracts/contracts/core/component/Component.sol
  packages/contracts/contracts/core/component/Permissions.sol
  packages/contracts/contracts/test/ACLTest.sol
  packages/contracts/contracts/test/DAOMock.sol
  packages/contracts/contracts/tokens/GovernanceERC20.sol
  packages/contracts/contracts/tokens/MerkleMinter.sol
  packages/contracts/contracts/votings/ERC20Voting/ERC20Voting.sol
  packages/contracts/contracts/votings/whitelist/WhitelistVoting.sol
  packages/contracts/test/voting/simple-voting.ts
  packages/contracts/test/voting/whitelist-voting.ts
Labels: contracts

#269 resolve #225: use solidity custom errors
  packages/contracts/contracts/core/DAO.sol
  packages/contracts/contracts/core/acl/ACL.sol
  packages/contracts/contracts/core/component/Permissions.sol
  packages/contracts/contracts/core/erc165/AdaptiveERC165.sol
  packages/contracts/contracts/factories/DAOFactory.sol
  packages/contracts/contracts/registry/Registry.sol
  packages/contracts/contracts/tokens/MerkleDistributor.sol
  packages/contracts/contracts/utils/Uint256Helpers.sol
  packages/contracts/contracts/votings/ERC20Voting/ERC20Voting.sol
  packages/contracts/contracts/votings/whitelist/WhitelistVoting.sol
  packages/contracts/test/adaptive-erc165.ts
  packages/contracts/test/core/acl.ts
  packages/contracts/test/dao-factory.ts
  packages/contracts/test/registry.ts
  packages/contracts/test/test-utils/custom-error-helper.ts
  packages/contracts/test/voting/simple-voting.ts
  packages/contracts/test/voting/whitelist-voting.ts
  packages/web-app/src/abis/DAOFactory.json
Labels: enhancement, web-app, contracts

#281 Chore/Grid
  packages/web-app/src/app.tsx
  packages/web-app/src/components/fullScreenStepper/fullScreenStepper.tsx
  packages/web-app/src/components/wrappers/pageWrappers.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/pages/finance.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/pages/home.tsx
  packages/web-app/src/pages/tokens.tsx
  packages/web-app/src/pages/transfers.tsx
  packages/web-app/tailwind.config.js
Labels: web-app, preview

#283 Chore/ DAO-709
  packages/web-app/src/containers/setupVotingForm/index.tsx
  packages/web-app/src/pages/newProposal.tsx
Labels: web-app

#284 Feature/DAO switcher & abstain vote option
  packages/ui-components/src/components/table/votersTable.tsx
  packages/web-app/src/containers/navbar/daoSelectMenu.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/locales/en/common.json
Labels: ui-components, web-app

#287 Chore/ Review proposal step & buttonGroup fix DAO-767, DAO-771
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/src/pages/newWithdraw.tsx
Labels: web-app

#294 Chore/Update token menu - DAO-775
  packages/ui-components/__tests__/dropdown.test.tsx
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/containers/tokenMenu/index.tsx
  packages/web-app/src/hooks/useDaoBalances.tsx
  packages/web-app/src/hooks/useDaoTokens.tsx
  packages/web-app/src/hooks/usePollTokenPrices.tsx
  packages/web-app/src/hooks/usePollTokens.tsx
  packages/web-app/src/hooks/useTokenInformation.tsx
  packages/web-app/src/hooks/useTokenMetadata.tsx
  packages/web-app/src/hooks/useWalletTokens.tsx
  packages/web-app/src/pages/finance.tsx
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/pages/tokens.tsx
  packages/web-app/src/utils/tokens.ts
  packages/web-app/src/utils/types.ts
Labels: ui-components, web-app
