Repository aragon/app, pull requests merged in 2022-11, with the labels that each got.

#536 Fix: App-1094
  packages/web-app/index.html
  packages/web-app/src/components/accordionMethod/index.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
Labels: web-app

#537 Fix: APP-1154 & 1155 - Review Proposal
  packages/ui-components/src/components/button/buttonText.tsx
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/utils/proposals.ts
Labels: ui-components, web-app

#538 Fix: APP-1148 - Default Empty Resource Row
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/pages/manageMembers.tsx
  packages/web-app/src/pages/mintTokens.tsx
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/pages/proposeSettings.tsx
Labels: web-app

#540 APP-1209 small copy correction
  packages/web-app/src/locales/en/common.json
Labels: web-app

#526 Feature: APP-1088 - Proposal Creation Nav: Manage Members Flow
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/pages/manageMembers.tsx
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#531 Feature: App-917
  packages/web-app/src/containers/defineMetadata/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/utils/validators.ts
Labels: web-app

#542 Fix: APP-1151 - Missing helptext
  packages/web-app/src/containers/setupVotingForm/index.tsx
  packages/web-app/src/locales/en/common.json
Labels: web-app

#539 Fix: APP-1102
  packages/web-app/src/components/executionWidget/index.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#544 Chore: Analytics config changes and 404 Navigation fix
  packages/web-app/ipfs-404.html
  packages/web-app/src/pages/notFound.tsx
  packages/web-app/src/services/analytics.ts
  packages/web-app/vite.config.ts
Labels: web-app, preview

#549 Fix: APP-1246 & APP-1247 - Tx Detail Modal & Execution Widget
  packages/web-app/src/components/executionWidget/index.tsx
  packages/web-app/src/containers/transactionDetail/index.tsx
Labels: web-app, preview

#548 Fix: App 1150 - Token Minting Summary
  packages/web-app/src/components/executionWidget/actions/mintTokenCard.tsx
  packages/web-app/src/components/executionWidget/actionsFilter.tsx
  packages/web-app/src/components/executionWidget/index.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/locales/en/common.json
Labels: web-app

#550 Feature: APP-1254 - StateEmpty refactor and migration
  packages/ui-components/src/components/stateEmpty/index.ts
  packages/ui-components/src/components/stateEmpty/stateEmpty.tsx
  packages/ui-components/src/index.tsx
  packages/ui-components/stories/stateEmpty.stories.tsx
  packages/web-app/src/components/executionWidget/index.tsx
  packages/web-app/src/components/resourceList/index.tsx
  packages/web-app/src/components/stateEmpty/index.tsx
  packages/web-app/src/containers/actionBuilder/removeAddresses/index.tsx
  packages/web-app/src/containers/activeProposalsExplore/index.tsx
  packages/web-app/src/containers/configureActions/index.tsx
  packages/web-app/src/containers/proposalSnapshot/index.tsx
  packages/web-app/src/containers/treasurySnapshot/index.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/community.tsx
Labels: ui-components, web-app

#546 Fix: APP-1153
  packages/ui-components/src/components/input/timeInput.tsx
  packages/ui-components/stories/inputTime.stories.tsx
  packages/web-app/src/containers/setupVotingForm/index.tsx
Labels: ui-components, web-app, preview

#555 Feature: APP-1277 - Execution Widget and Action Builder empty state copy update
  packages/web-app/src/locales/en/common.json
Labels: web-app

#554 Fix: APP-1279 - Mint Tokens Crashing
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
Labels: web-app

#552 Feature: APP-1120 Notification Feedback
  packages/ui-components/__tests__/alertChip.test.tsx
  packages/ui-components/src/components/alerts/alertChip.tsx
  packages/ui-components/src/components/alerts/index.ts
  packages/ui-components/stories/alertChip.stories.tsx
  packages/web-app/src/components/addLinks/__tests__/addLinks.test.tsx
  packages/web-app/src/components/addLinks/index.tsx
  packages/web-app/src/components/addWallets/__tests__/addWallets.test.tsx
  packages/web-app/src/components/addWallets/index.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/components/whitelistWallets/index.tsx
  packages/web-app/src/components/whitelistWallets/row.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/addressRow.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/index.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/addressTokenRow.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/containers/actionBuilder/removeAddresses/index.tsx
  packages/web-app/src/containers/actionBuilder/withdraw/withdrawAction.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/depositForm/index.tsx
  packages/web-app/src/containers/networkErrorMenu/index.tsx
  packages/web-app/src/containers/walletMenu/index.tsx
  packages/web-app/src/context/alert.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/utils/library.ts
Labels: ui-components, web-app

#556 Chore: APP-1223 - Bump SDK version
  packages/ui-components/src/components/input/timeInput.tsx
  packages/web-app/package.json
  packages/web-app/src/containers/goLive/governance.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/context/deposit.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/hooks/useDaoBalances.tsx
  packages/web-app/src/hooks/usePluginSettings.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/utils/proposals.ts
  yarn.lock
Labels: ui-components, web-app, preview

#559 App 1110 services
  .github/workflows/pull_request_webapp_preview.yml
  .github/workflows/webapp-deploy.yml
  .github/workflows/webapp-push.yml
  packages/web-app/src/context/providers.tsx
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/constants/chains.ts
Labels: web-app

#551 Feature: APP-1255 - SCC Empty State Modal
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/smartContractComposer/emptyState.tsx
  packages/web-app/src/containers/smartContractComposer/modalHeader.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/demoScc.tsx
Labels: web-app, preview

#558 Chore: Analytics change from CDN to npm & fix some config changes
  packages/web-app/index.html
  packages/web-app/package.json
  packages/web-app/src/services/analytics.ts
  yarn.lock
Labels: web-app, preview

#565 Alert Chip added to header DAO
  packages/ui-components/src/components/headers/headerDao.tsx
  packages/web-app/src/pages/dashboard.tsx
Labels: ui-components, web-app

#570 Chore: Bump SDK to latest (0.14.0-alpha)
  packages/web-app/package.json
  packages/web-app/src/pages/explore.tsx
  yarn.lock
Labels: web-app

#569 Feature: APP-1159 - Hide vote button when publishing proposal
  packages/web-app/src/containers/votingTerminal/index.tsx
Labels: web-app

#568 Feature: APP-1157 & APP-1158 Proposal creation copy
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/containers/configureActions/index.tsx
  packages/web-app/src/containers/setupVotingForm/index.tsx
  packages/web-app/src/locales/en/common.json
Labels: web-app, preview

#566 Fix: APP-1304 - Proposal remaining time
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/date.ts
Labels: web-app, preview

#563 Feature: APP-1293 & APP-1292
  .github/workflows/pull_request_webapp_preview.yml
  .github/workflows/webapp-deploy.yml
  .github/workflows/webapp-push.yml
  packages/web-app/src/containers/smartContractComposer/contractAddressValidation.tsx
  packages/web-app/src/containers/smartContractComposer/modalHeader.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/demoScc.tsx
  packages/web-app/src/utils/constants/chains.ts
  packages/web-app/src/utils/types.ts
  packages/web-app/src/utils/validators.ts
Labels: web-app

#571 Fix: APP-1318 - Quorum fix
  packages/web-app/src/containers/goLive/governance.tsx
Labels: web-app

#567 Feature: APP-1295 - Proposal Creation: connect to new SDK version
  packages/web-app/package.json
  packages/web-app/src/components/executionWidget/actionsFilter.tsx
  packages/web-app/src/containers/transactionDetail/index.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/hooks/useDaoParam.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/library.ts
Labels: web-app, preview

#564 Fix: DAO creation bug fix
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/hooks/useDaos.tsx
Labels: web-app, preview

#575 pumped SDK version to 0.15.0-alpha
  packages/web-app/package.json
  packages/web-app/src/components/stateEmpty/index.tsx
  yarn.lock
Labels: web-app
