Repository aragon/app, pull requests merged in 2022-05, with the labels that each got.

#329 Fix: Create DAO transaction pipeline
  packages/ui-components/src/components/cards/cardText.tsx
  packages/ui-components/src/components/modal/modal.tsx
  packages/ui-components/src/components/textarea/textarea.tsx
  packages/web-app/package.json
  packages/web-app/src/components/addLinks/row.tsx
  packages/web-app/src/components/addWallets/index.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/components/whitelistWallets/index.tsx
  packages/web-app/src/components/whitelistWallets/row.tsx
  packages/web-app/src/containers/communityAddressesModal/index.tsx
  packages/web-app/src/containers/goLive/index.tsx
  packages/web-app/src/containers/setupCommunity/index.tsx
  packages/web-app/src/containers/transactionModals/publishDaoModal.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/context/transactions.tsx
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/library.ts
  yarn.lock
Labels: ui-components, web-app, preview

#333 Feature: APP-324 APP-325 CTA Cards Carousel
  packages/web-app/package.json
  packages/web-app/src/components/ctaCard/data.ts
  packages/web-app/src/components/ctaCard/index.tsx
  packages/web-app/src/containers/carousel/index.tsx
  packages/web-app/src/containers/exploreFooter/index.tsx
  packages/web-app/src/containers/hero/index.tsx
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/public/buildFaster.svg
  packages/web-app/src/public/createDao.svg
  packages/web-app/src/public/learn.svg
  packages/web-app/src/public/learnDao.svg
  packages/web-app/tailwind.config.js
  yarn.lock
Labels: web-app, preview

#335 Fix: Disconnect modal font-size
  packages/web-app/src/containers/navbar/walletMenu.tsx
Labels: web-app

#336 Fix: Add handler for login button
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/pages/governance.tsx
Labels: web-app

#337 Fix: Staging build
  packages/web-app/src/pages/explore.tsx
Labels: web-app

#328 Feature/Settings page
  packages/web-app/src/app.tsx
  packages/web-app/src/components/descriptionList/index.tsx
  packages/web-app/src/components/wrappers/pageWrappers.tsx
  packages/web-app/src/hooks/useMappedBreadcrumbs.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/settings.tsx
  packages/web-app/src/utils/constants/misc.ts
  packages/web-app/src/utils/paths.ts
Labels: web-app, preview

#331 Feature: App 399 - DAO parameter in url
  packages/web-app/src/app.tsx
  packages/web-app/src/components/fullScreenStepper/fullScreenStepper.tsx
  packages/web-app/src/components/navLink/index.tsx
  packages/web-app/src/components/navLinks/index.tsx
  packages/web-app/src/components/wrappers/sectionWrappers.tsx
  packages/web-app/src/containers/goLive/index.tsx
  packages/web-app/src/containers/navbar/breadcrumbDropdown.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/containers/transferMenu/index.tsx
  packages/web-app/src/hooks/useMappedBreadcrumbs.tsx
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/pages/finance.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/pages/newDeposit.tsx
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/constants/misc.ts
  packages/web-app/src/utils/paths.ts
  yarn.lock
Labels: web-app

#340 fix: Add auto rotate on each 4 sec APP-324
  packages/web-app/src/components/ctaCard/index.tsx
  packages/web-app/src/containers/carousel/index.tsx
  packages/web-app/src/public/buildFaster.svg
  packages/web-app/src/public/createDao.svg
  packages/web-app/src/public/learnDao.svg
  packages/web-app/tailwind.config.js
Labels: web-app, preview

#338 Fix: Fix multiple bugs
  packages/web-app/src/components/modalBottomSheetSwitcher/index.tsx
  packages/web-app/src/components/whitelistWallets/index.tsx
  packages/web-app/src/components/whitelistWallets/row.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/pages/explore.tsx
Labels: web-app

#339 Fix: Distribute tokens tab order
  packages/web-app/src/components/addWallets/row.tsx
Labels: web-app

#341 Fix: Modals not showing properly on desktop
  packages/web-app/src/components/modalBottomSheetSwitcher/index.tsx
Labels: web-app

#346 Fix: Fix Explore Navbar to Top
  packages/ui-components/src/components/button/buttonText.tsx
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/navbar/exploreNav.tsx
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/pages/tokens.tsx
  packages/web-app/src/pages/transfers.tsx
  packages/web-app/src/utils/constants/api.ts
Labels: ui-components, web-app

#345 Feature: Explore active proposal card
  packages/ui-components/__tests__/cardProposal.test.tsx
  packages/ui-components/src/components/alerts/alertInline.tsx
  packages/ui-components/src/components/avatar/avatarDao.tsx
  packages/ui-components/src/components/cards/cardProposal.tsx
  packages/ui-components/src/components/icons/interface/icon_clock.tsx
  packages/ui-components/src/components/icons/interface/index.ts
  packages/ui-components/src/components/input/inputImageSingle.tsx
  packages/ui-components/stories/cardProposal.stories.tsx
  packages/ui-components/tailwind.config.js
  packages/web-app/package.json
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/containers/activeProposalsExplore/index.tsx
  packages/web-app/src/containers/carousel/index.tsx
  packages/web-app/src/containers/hero/index.tsx
  packages/web-app/src/containers/navbar/exploreNav.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/explore.tsx
  packages/web-app/tailwind.config.js
  yarn.lock
Labels: ui-components, web-app, preview

#343 Feature: Add DAO card to explorer
  packages/web-app/src/components/daoCard/index.tsx
  packages/web-app/src/containers/carousel/index.tsx
  packages/web-app/src/containers/daoExplorer/daoExplorer.tsx
  packages/web-app/src/containers/daoExplorer/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/explore.tsx
Labels: web-app

#347 Feature/app 401 redirect on non existing dao
  packages/web-app/src/app.tsx
  packages/web-app/src/components/temporary/index.tsx
  packages/web-app/src/components/temporary/loading.tsx
  packages/web-app/src/components/temporary/section.tsx
  packages/web-app/src/hooks/useDaoParam.tsx
  packages/web-app/src/pages/community.tsx
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/pages/finance.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/pages/newDeposit.tsx
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/pages/notFound.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/settings.tsx
  packages/web-app/src/pages/tokens.tsx
  packages/web-app/src/pages/transfers.tsx
  packages/web-app/src/queries/dao.tsx
Labels: web-app

#350 Feature: View transactions on disconnect modal
  packages/web-app/src/containers/navbar/walletMenu.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/utils/constants/chains.ts
Labels: web-app

#352 Feature: Fetch existing token on erc20 Voting DAO creation
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/context/providers.tsx
Labels: web-app

#351 Feature: add deposit modal APP-29
  packages/ui-components/src/components/backdrop/backdrop.tsx
  packages/ui-components/src/components/modal/modal.tsx
  packages/web-app/index.html
  packages/web-app/src/app.tsx
  packages/web-app/src/components/bottomSheet/index.tsx
  packages/web-app/src/containers/exploreFooter/index.tsx
  packages/web-app/src/containers/navbar/exploreNav.tsx
  packages/web-app/src/containers/transactionModals/DepositModal.tsx
  packages/web-app/src/context/globalModals.tsx
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/pages/newDeposit.tsx
  packages/web-app/tailwind.config.js
Labels: ui-components, web-app, preview

#353 Fix: Exponentiation for mint token amount
  packages/web-app/src/context/createDao.tsx
Labels: web-app, preview

#354 Fix/app 466 navbar footer
  packages/ui-components/src/components/backdrop/backdrop.tsx
  packages/ui-components/src/components/modal/modal.tsx
  packages/web-app/index.html
  packages/web-app/src/app.tsx
  packages/web-app/src/components/bottomSheet/index.tsx
  packages/web-app/src/components/layout/grid.tsx
  packages/web-app/src/components/layout/header.tsx
  packages/web-app/src/components/layout/index.tsx
  packages/web-app/src/containers/exploreFooter/index.tsx
  packages/web-app/src/containers/hero/index.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/containers/navbar/exploreNav.tsx
  packages/web-app/src/pages/explore.tsx
  packages/web-app/tailwind.config.js
Labels: ui-components, web-app

#355 Fix: My wallet prepending on whitelist voting DAO creation
  packages/web-app/src/components/whitelistWallets/index.tsx
  packages/web-app/src/pages/createDAO.tsx
Labels: web-app

#358 App 486 redirect on other networks
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/hooks/useDaoParam.tsx
  packages/web-app/src/index.tsx
Labels: web-app

#356 Feature: APP-21 Wrong Network modal
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/goLive/index.tsx
  packages/web-app/src/containers/networkErrorMenu/index.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/context/globalModals.tsx
  packages/web-app/src/context/network.tsx
  packages/web-app/src/hooks/useSwitchNetwork.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/public/wrongNetwork.svg
  packages/web-app/src/utils/constants/chains.ts
  packages/web-app/src/utils/library.ts
Labels: web-app

#360 Feature: App-494 - Dao Page Routing
  packages/web-app/src/app.tsx
  packages/web-app/src/pages/editSettings.tsx
  packages/web-app/src/pages/explore.tsx
Labels: web-app

#365 made button wallet into square
  packages/ui-components/src/components/button/buttonWallet.tsx
Labels: ui-components

#362 Fix: Temporarily remove DAO Treasury
  packages/web-app/src/components/addWallets/footer.tsx
  packages/web-app/src/components/addWallets/index.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/containers/communityAddressesModal/index.tsx
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/pages/createDAO.tsx
Labels: web-app, preview

#364 prepend dao specific paths with static segment
  packages/web-app/src/app.tsx
  packages/web-app/src/components/navLink/index.tsx
  packages/web-app/src/context/network.tsx
  packages/web-app/src/hooks/useMappedBreadcrumbs.tsx
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/pages/notFound.tsx
  packages/web-app/src/utils/paths.ts
Labels: web-app

#363 Feature: ListItemHeader UI component
  packages/ui-components/__tests__/listItemHeader.test.tsx
  packages/ui-components/src/components/label/label.tsx
  packages/ui-components/src/components/listItem/header.tsx
  packages/ui-components/src/components/listItem/index.ts
  packages/ui-components/stories/alertCard.stories.tsx
  packages/ui-components/stories/listItemHeader.stories.tsx
Labels: ui-components

#370 Fix: APP-537 copy changes
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/locales/en/common.json
Labels: web-app

#361 Fix: Create DAO network selection
  packages/web-app/src/containers/selectChainForm/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/utils/constants/chains.ts
Labels: web-app, preview

#367 Feature: Upgrade node version
  .github/workflows/pull_request_storybook_preview.yml
  .github/workflows/pull_request_webapp_preview.yml
  .github/workflows/storybook-deploy.yml
  .github/workflows/webapp-deploy.yml
  .github/workflows/webapp-push.yml
  package.json
  packages/web-app/package.json
Labels: web-app, preview
