Repository aragon/app, pull requests merged in 2022-10, with the labels that each got.

#508 Feature: APP-1049 - Successful vote caching
  packages/ui-components/src/components/button/buttonGroup/button.tsx
  packages/ui-components/src/components/button/buttonGroup/buttonGroup.tsx
  packages/ui-components/src/components/table/votersTable.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/proposals.ts
  packages/web-app/src/utils/types.ts
Labels: ui-components, web-app

#512 Fix: APP-1066: SDK Transfers and PluginContext
  packages/web-app/package.json
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/context/deposit.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useDaoMembers.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/useDaoTransfers.tsx
  packages/web-app/src/hooks/usePluginClient.tsx
  packages/web-app/src/hooks/usePluginSettings.tsx
  packages/web-app/src/hooks/usePollTransfersPrices.tsx
  packages/web-app/src/hooks/useProposals.tsx
  packages/web-app/src/hooks/useWalletCanVote.tsx
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/proposals.ts
  yarn.lock
Labels: web-app

#509 Feature: Execute Proposal after conclusion
  packages/web-app/src/components/executionWidget/index.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#513 Feature: Governance and New Withdraw analytics events
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/containers/proposalStepper/index.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/pages/newWithdraw.tsx
Labels: web-app

#511 Fix: APP-422 Explorer Logo & Link Variants
  packages/ui-components/src/components/link/link.tsx
  packages/ui-components/stories/link.stories.tsx
  packages/ui-components/tailwind.config.js
  packages/web-app/src/containers/exploreFooter/index.tsx
  packages/web-app/src/containers/navbar/exploreNav.tsx
  packages/web-app/tailwind.config.js
Labels: ui-components, web-app, preview

#510 App-1001 Encode Metadata and Governance Settings
  packages/web-app/src/containers/compareSettings/index.tsx
  packages/web-app/src/pages/editSettings.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/pages/settings.tsx
Labels: web-app

#514 Feature: New 404 page
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/notFound.tsx
  packages/web-app/src/public/illu-custom.svg
  packages/web-app/src/public/logoBlue.svg
Labels: web-app, preview

#519 Feature: APP-1086 copyright Updates
  packages/web-app/src/components/cardWithImage/index.tsx
  packages/web-app/src/components/descriptionList/index.tsx
  packages/web-app/src/components/executionWidget/actions/withdrawCard.tsx
  packages/web-app/src/containers/actionBuilder/removeAddresses/index.tsx
  packages/web-app/src/containers/actionBuilder/withdraw/withdrawAction.tsx
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/daoOverview/index.tsx
  packages/web-app/src/containers/defineMetadata/index.tsx
  packages/web-app/src/containers/defineProposal/index.tsx
  packages/web-app/src/containers/depositForm/index.tsx
  packages/web-app/src/containers/goLive/blockchain.tsx
  packages/web-app/src/containers/goLive/community.tsx
  packages/web-app/src/containers/goLive/daoMetadata.tsx
  packages/web-app/src/containers/goLive/governance.tsx
  packages/web-app/src/containers/goLive/index.tsx
  packages/web-app/src/containers/hero/index.tsx
  packages/web-app/src/containers/proposalSnapshot/index.tsx
  packages/web-app/src/containers/setupCommunity/createNewToken.tsx
  packages/web-app/src/containers/setupCommunity/index.tsx
  packages/web-app/src/containers/setupVotingForm/index.tsx
  packages/web-app/src/containers/transactionModals/DepositModal.tsx
  packages/web-app/src/containers/transactionModals/publishModal.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/hooks/useDaoActions.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/community.tsx
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/pages/editSettings.tsx
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/pages/newDeposit.tsx
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/pages/notFound.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/pages/settings.tsx
Labels: web-app, preview

#520 APP 1109 Goerli Migration
  .github/workflows/pull_request_webapp_preview.yml
  .github/workflows/webapp-deploy.yml
  .github/workflows/webapp-push.yml
  packages/ui-components/src/components/cards/cardProposal.tsx
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/containers/activeProposalsExplore/index.tsx
  packages/web-app/src/containers/selectChainForm/index.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/hooks/useDaoParam.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/constants/chains.ts
Labels: ui-components, web-app

#523 Fix: remove hardcoded test-address
  packages/web-app/src/hooks/useDaoParam.tsx
Labels: web-app

#524 Fix: AllowList Dao & pumped SDK version
  packages/web-app/package.json
  packages/web-app/src/hooks/useDaoActions.tsx
  packages/web-app/src/hooks/useDaoTransfers.tsx
  packages/web-app/src/hooks/usePollTransfersPrices.tsx
  packages/web-app/src/pages/community.tsx
  yarn.lock
Labels: web-app, preview

#518 Feature: APP-1081 - Proposal Creation Nav: Main & Withdraw Flows
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/context/deposit.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useDaoActions.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/useDaoToken.tsx
  packages/web-app/src/hooks/useDaoTransfers.tsx
  packages/web-app/src/hooks/useProposals.tsx
  packages/web-app/src/pages/settings.tsx
  packages/web-app/src/utils/constants/misc.ts
  packages/web-app/src/utils/constants/regex.ts
  packages/web-app/src/utils/library.ts
  packages/web-app/src/utils/proposals.ts
  packages/web-app/src/utils/types.ts
Labels: web-app, preview

#521 Feature: APP-1089 - Proposal Creation Nav: Settings Flow
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#525 Fix: App 1112 - Setting Flow Fixes
  packages/web-app/src/containers/compareSettings/index.tsx
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/containers/goLive/governance.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/editSettings.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/pages/settings.tsx
Labels: web-app

#507 Feature: Token gating modals for proposal creation
  packages/ui-components/src/components/modal/modal.tsx
  packages/web-app/src/app.tsx
  packages/web-app/src/components/bottomSheet/index.tsx
  packages/web-app/src/components/protectedRoute/index.tsx
  packages/web-app/src/containers/gatingMenu/index.tsx
  packages/web-app/src/context/globalModals.tsx
  packages/web-app/src/hooks/useDaoParam.tsx
  packages/web-app/src/hooks/usePluginClient.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/newProposal.tsx
Labels: ui-components, web-app, preview

#527 Chore: App 1111 - remove rinkeby
  packages/web-app/package.json
  packages/web-app/src/containers/selectChainForm/index.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/augmentedWallet.tsx
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/constants/chains.ts
Labels: web-app

#528 Fix: APP-1097 - Format withdraw amount in action decoder
  packages/web-app/src/components/executionWidget/actions/withdrawCard.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/library.ts
Labels: web-app, preview

#530 Fix/dao creation
  packages/web-app/src/context/createDao.tsx
Labels: web-app

#532 Fix: APP-1170 - Remove favourited from Explorer Page
  packages/web-app/src/containers/daoExplorer/daoExplorer.tsx
  packages/web-app/src/hooks/useDaos.tsx
Labels: web-app

#515 Feature: App-1045
  packages/web-app/src/components/executionWidget/actions/mintTokenCard.tsx
  packages/web-app/src/components/protectedRoute/index.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/containers/gatingMenu/index.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/library.ts
  packages/web-app/src/utils/tokens.ts
  packages/web-app/src/utils/types.ts
Labels: web-app

#529 Feature: APP-1073 - Proposal onTransaction Detail
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/transactionDetail/index.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/usePollTransfersPrices.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/types.ts
Labels: web-app

#535 Feature: APP-1084 - Show current DAO on navbar
  packages/ui-components/src/components/cards/cardDao.tsx
  packages/web-app/src/containers/navbar/daoSelectMenu.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/containers/navbar/mobile.tsx
  packages/web-app/src/containers/navbar/mobileMenu.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/utils/types.ts
Labels: ui-components, web-app, preview

#533 Feature: APP-1096 - Token based members
  packages/web-app/src/components/membersList/index.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/containers/gatingMenu/index.tsx
  packages/web-app/src/containers/membershipSnapshot/index.tsx
  packages/web-app/src/hooks/useDaoMembers.tsx
  packages/web-app/src/hooks/useDaoToken.tsx
  packages/web-app/src/pages/community.tsx
  packages/web-app/src/pages/dashboard.tsx
Labels: web-app, preview
