Repository aragon/app, pull requests merged in 2022-06, with the labels that each got.

#357 Feature: Connect deposit to SDK
  packages/web-app/package.json
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/depositForm/index.tsx
  packages/web-app/src/containers/reviewDeposit/index.tsx
  packages/web-app/src/containers/transactionModals/DepositModal.tsx
  packages/web-app/src/context/deposit.tsx
  packages/web-app/src/context/globalModals.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/newDeposit.tsx
  yarn.lock
Labels: web-app

#366 Feature: APP-502 Required Login
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/goLive/index.tsx
  packages/web-app/src/containers/navbar/walletMenu.tsx
  packages/web-app/src/containers/networkErrorMenu/index.tsx
  packages/web-app/src/containers/transferMenu/index.tsx
  packages/web-app/src/containers/walletMenu/LoginRequired.tsx
  packages/web-app/src/containers/walletMenu/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/public/wallet.svg
Labels: web-app

#371 Feature: Dashboard - Top 10 Proposals
  packages/ui-components/src/components/cards/cardProposal.tsx
  packages/ui-components/stories/cardProposal.stories.tsx
  packages/web-app/src/containers/navbar/daoSelectMenu.tsx
  packages/web-app/src/hooks/useDaoProposals.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/pages/explore.tsx
Labels: ui-components, web-app, preview

#349 Feature: Propose new settings page
  packages/ui-components/src/components/button/buttonText.tsx
  packages/ui-components/stories/buttonText.stories.tsx
  packages/web-app/src/app.tsx
  packages/web-app/src/components/descriptionList/index.tsx
  packages/web-app/src/containers/compareSettings/index.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/editSettings.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/pages/settings.tsx
  packages/web-app/src/utils/paths.ts
Labels: ui-components, web-app, preview

#372 Fix: Overlapping select dao and mobile menu
  packages/web-app/src/containers/navbar/daoSelectMenu.tsx
  packages/web-app/src/containers/navbar/mobile.tsx
  packages/web-app/src/containers/navbar/mobileMenu.tsx
  packages/web-app/src/context/globalModals.tsx
  packages/web-app/src/pages/finance.tsx
  packages/web-app/src/utils/constants/misc.ts
Labels: web-app, preview

#373 Feature: Treasury Snapshot
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/proposalSnapshot/index.tsx
  packages/web-app/src/containers/transactionDetail/index.tsx
  packages/web-app/src/containers/treasurySnapshot/index.tsx
  packages/web-app/src/context/transactionDetail.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/pages/finance.tsx
  packages/web-app/src/pages/transfers.tsx
Labels: web-app, preview

#368 Feature: Gas Estimation on Creation UI
  packages/web-app/package.json
  packages/web-app/src/containers/transactionModals/publishDaoModal.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/hooks/usePollGasfee.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
Labels: web-app, preview

#374 Feature: APP-544
  packages/ui-components/__tests__/headerDao.test.tsx
  packages/ui-components/src/components/avatar/avatarDao.tsx
  packages/ui-components/src/components/dropdown/dropdown.tsx
  packages/ui-components/src/components/headers/headerDao.tsx
  packages/ui-components/src/components/headers/index.ts
  packages/ui-components/src/components/icons/interface/icon_flag.tsx
  packages/ui-components/src/components/icons/interface/index.ts
  packages/ui-components/src/components/progress/linear.tsx
  packages/ui-components/src/index.tsx
  packages/ui-components/stories/headerDao.stories.tsx
  packages/web-app/src/pages/dashboard.tsx
Labels: ui-components, web-app

#376 Chore: Update dao factory address
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/utils/constants/api.ts
Labels: web-app

#377 Chore: APP-537 Fix min participation copy
  packages/web-app/src/containers/configureCommunity/index.tsx
Labels: web-app, preview

#378 Chore: Updated DAO factory address env
  .github/workflows/pull_request_webapp_preview.yml
  .github/workflows/webapp-deploy.yml
  .github/workflows/webapp-push.yml
  packages/web-app/package.json
  yarn.lock
Labels: web-app, preview

#380 Feature: IlluObject Component
  packages/ui-components/__tests__/illuObject.test.tsx
  packages/ui-components/src/components/illustrations/illuObject.tsx
  packages/ui-components/src/components/illustrations/object/action.tsx
  packages/ui-components/src/components/illustrations/object/app.tsx
  packages/ui-components/src/components/illustrations/object/archive.tsx
  packages/ui-components/src/components/illustrations/object/book.tsx
  packages/ui-components/src/components/illustrations/object/build.tsx
  packages/ui-components/src/components/illustrations/object/chain.tsx
  packages/ui-components/src/components/illustrations/object/database.tsx
  packages/ui-components/src/components/illustrations/object/error.tsx
  packages/ui-components/src/components/illustrations/object/explore.tsx
  packages/ui-components/src/components/illustrations/object/gas.tsx
  packages/ui-components/src/components/illustrations/object/index.tsx
  packages/ui-components/src/components/illustrations/object/labels.tsx
  packages/ui-components/src/components/illustrations/object/lightbulb.tsx
  packages/ui-components/src/components/illustrations/object/magnifyingGlass.tsx
  packages/ui-components/src/components/illustrations/object/security.tsx
  packages/ui-components/src/components/illustrations/object/settings.tsx
  packages/ui-components/src/components/illustrations/object/smartContract.tsx
  packages/ui-components/src/components/illustrations/object/users.tsx
  packages/ui-components/src/components/illustrations/object/wagmi.tsx
  packages/ui-components/src/components/illustrations/object/wallet.tsx
  packages/ui-components/stories/illuObject.stories.tsx
Labels: ui-components

#379 fix mainnet dao id validation
  packages/web-app/src/hooks/useDaoParam.tsx
Labels: web-app

#383 Fix: Gas Estimation Native token
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/transactionModals/publishDaoModal.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/hooks/usePollGasfee.tsx
  packages/web-app/src/services/prices.ts
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/constants/chains.ts
Labels: web-app

#386 Feature: App-512 Create address list
  packages/ui-components/src/components/listItem/address.tsx
  packages/web-app/src/components/layout/grid.tsx
  packages/web-app/src/containers/membershipSnapshot/index.tsx
  packages/web-app/src/containers/proposalSnapshot/index.tsx
  packages/web-app/src/containers/treasurySnapshot/index.tsx
  packages/web-app/src/hooks/useDaoMembers.tsx
  packages/web-app/src/hooks/useDaoProposals.tsx
  packages/web-app/src/hooks/useDaoVault.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/dashboard.tsx
Labels: ui-components, web-app

#384 Feature: APP-547 Fix token list on token menu
  packages/ui-components/src/components/modal/modal.tsx
  packages/web-app/src/context/providers.tsx
  packages/web-app/src/hooks/useWalletTokens.tsx
Labels: ui-components, web-app

#390 Fix: Show newly completed transfer
  packages/web-app/src/context/deposit.tsx
  packages/web-app/src/hooks/useDaoBalances.tsx
  packages/web-app/src/hooks/useDaoProposals.tsx
  packages/web-app/src/hooks/useDaoTransfers.tsx
  packages/web-app/src/hooks/useDaoVault.tsx
  packages/web-app/src/pages/finance.tsx
Labels: web-app

#387 Feature: Manage wallets modal component
  packages/ui-components/src/components/checkbox/checkboxListItem.tsx
  packages/web-app/src/containers/manageWalletsModal/index.tsx
  packages/web-app/src/context/globalModals.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/explore.tsx
  packages/web-app/tailwind.config.js
Labels: ui-components, web-app

#393 Feature: APP-213 token amounts abbreviation
  packages/web-app/src/components/tokenList/index.tsx
  packages/web-app/src/components/transferList/index.tsx
  packages/web-app/src/containers/reviewDeposit/index.tsx
  packages/web-app/src/containers/tokenMenu/index.tsx
  packages/web-app/src/containers/transactionDetail/index.tsx
  packages/web-app/src/containers/transactionModals/publishDaoModal.tsx
  packages/web-app/src/containers/treasurySnapshot/index.tsx
  packages/web-app/src/context/providers.tsx
  packages/web-app/src/hooks/useCategorizedTransfers.tsx
  packages/web-app/src/hooks/useDaoVault.tsx
  packages/web-app/src/hooks/usePollTransfersPrices.tsx
  packages/web-app/src/utils/constants/regex.ts
  packages/web-app/src/utils/tokens.ts
  packages/web-app/src/utils/types.ts
Labels: web-app

#392 Feature: Proposal creation
  packages/web-app/package.json
  packages/web-app/src/containers/transactionModals/publishModal.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/hooks/useDaoParam.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/src/queries/dao.tsx
  yarn.lock
Labels: web-app

#389 Feature: APP-516 Empty State
  .github/workflows/storybook-deploy.yml
  packages/ui-components/__tests__/illuHuman.test.tsx
  packages/ui-components/__tests__/listItemAddress.test.tsx
  packages/ui-components/src/components/illustrations/human/human_accessories/earrings_rhombus.tsx
  packages/ui-components/src/components/illustrations/human/human_accessories/index.ts
  packages/ui-components/src/components/illustrations/human/human_bodies/correct.tsx
  packages/ui-components/src/components/illustrations/human/human_bodies/voting.tsx
  packages/ui-components/src/components/illustrations/human/human_hairs/cool.tsx
  packages/ui-components/src/components/illustrations/human/human_hairs/index.ts
  packages/ui-components/src/components/illustrations/human/illuHuman.tsx
  packages/ui-components/src/components/stateEmpty/index.ts
  packages/ui-components/src/components/stateEmpty/stateEmpty.tsx
  packages/ui-components/src/index.tsx
  packages/ui-components/stories/illuHuman.stories.tsx
  packages/ui-components/stories/stateEmpty.stories.tsx
  packages/ui-components/tailwind.config.js
Labels: ui-components

#388 feat: adds workflows to publish ui-components to npm
  .github/workflows/ui-components-publish.yml
  .github/workflows/ui-components-release.yml
  .github/workflows/ui-components-test.yml
  packages/ui-components/README.md
Labels: ui-components, ui-components:patch

#396 fix: corrects working dir in ui-components workflows
  .github/workflows/ui-components-publish.yml
  .github/workflows/ui-components-release.yml
Labels: ui-components:patch

#397 Fix/storybook deploy
  .github/workflows/storybook-deploy.yml
  .github/workflows/ui-components-publish.yml
  .gitignore
  packages/web-app/package.json
Labels: web-app

#398 fix: ui-components workflow tag parsing
  .github/workflows/ui-components-publish.yml
Labels: ui-components:patch

#391 Fix: Wallet & DAO network mismatch on Deposit
  packages/web-app/src/context/deposit.tsx
  packages/web-app/src/hooks/useDaoVault.tsx
Labels: web-app, preview

#401 Fix: App-591
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/depositForm/index.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/containers/tokenMenu/index.tsx
  packages/web-app/src/hooks/useWalletTokens.tsx
  packages/web-app/src/utils/constants/chains.ts
  packages/web-app/src/utils/tokens.ts
Labels: web-app

#394 Feature: Approval step for ERC20 tokens
  packages/web-app/package.json
  packages/web-app/src/containers/transactionModals/DepositModal.tsx
  packages/web-app/src/context/deposit.tsx
  packages/web-app/src/hooks/usePollGasfee.tsx
Labels: web-app, preview

#403 Feature: Withdraw action in proposal creation
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/src/pages/newWithdraw.tsx
Labels: web-app, preview

#395 Feature: App-531 Gas fee estimation for deposit
  packages/web-app/src/containers/transactionModals/DepositModal.tsx
  packages/web-app/src/context/deposit.tsx
  packages/web-app/src/utils/tokens.ts
Labels: web-app

#400 Feature: Dashboard - DAO Metadata & Membership snapshot of token based DAO
  packages/ui-components/src/components/avatar/avatarDao.tsx
  packages/ui-components/src/components/headers/headerDao.tsx
  packages/web-app/src/containers/membershipSnapshot/index.tsx
  packages/web-app/src/hooks/useDaoMembers.tsx
  packages/web-app/src/hooks/useDaoMetadata.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/queries/dao.tsx
Labels: ui-components, web-app

#405 Fix: Changed DAO factory address
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/hooks/useDaoVault.tsx
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/pages/explore.tsx
Labels: web-app, preview

#404 Fix: Native Tokens & DAO url on dashboard
  packages/ui-components/src/components/headers/headerDao.tsx
  packages/ui-components/stories/headerDao.stories.tsx
  packages/web-app/src/hooks/useTokenMetadata.tsx
  packages/web-app/src/hooks/useWalletTokens.tsx
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/services/prices.ts
Labels: ui-components, web-app, preview

#407 Feature: APP-601 empty state web app
  packages/ui-components/__tests__/illuHuman.test.tsx
  packages/ui-components/src/components/illustrations/human/human_accessories/index.ts
  packages/ui-components/src/components/illustrations/human/human_accessories/index.tsx
  packages/ui-components/src/components/illustrations/human/human_bodies/index.ts
  packages/ui-components/src/components/illustrations/human/human_bodies/index.tsx
  packages/ui-components/src/components/illustrations/human/human_expressions/index.ts
  packages/ui-components/src/components/illustrations/human/human_expressions/index.tsx
  packages/ui-components/src/components/illustrations/human/human_hairs/index.ts
  packages/ui-components/src/components/illustrations/human/human_hairs/index.tsx
  packages/ui-components/src/components/illustrations/human/human_sunglasses/index.ts
  packages/ui-components/src/components/illustrations/human/human_sunglasses/index.tsx
  packages/ui-components/src/components/illustrations/human/illuHuman.tsx
  packages/ui-components/src/components/stateEmpty/stateEmpty.tsx
  packages/ui-components/stories/illuHuman.stories.tsx
  packages/ui-components/stories/stateEmpty.stories.tsx
  packages/web-app/src/containers/proposalSnapshot/index.tsx
  packages/web-app/src/containers/treasurySnapshot/index.tsx
  packages/web-app/src/locales/en/common.json
Labels: ui-components, web-app

#406 Fix: Proposal creation - Check and switch network
  packages/web-app/src/context/createProposal.tsx
Labels: web-app

#410 Feat/app 298 explorer proposals empty
  packages/ui-components/src/components/stateEmpty/stateEmpty.tsx
  packages/web-app/src/containers/activeProposalsExplore/index.tsx
  packages/web-app/src/locales/en/common.json
Labels: ui-components, web-app

#408 fix fluid type config & font weight
  packages/ui-components/src/components/alerts/alertBanner.tsx
  packages/ui-components/src/components/alerts/alertCard.tsx
  packages/ui-components/src/components/alerts/alertInline.tsx
  packages/ui-components/src/components/avatar/avatarDao.tsx
  packages/ui-components/src/components/badge/badge.tsx
  packages/ui-components/src/components/button/buttonBase.tsx
  packages/ui-components/src/components/cards/cardDao.tsx
  packages/ui-components/src/components/cards/cardProposal.tsx
  packages/ui-components/src/components/cards/cardText.tsx
  packages/ui-components/src/components/cards/cardToken.tsx
  packages/ui-components/src/components/cards/cardTransfer.tsx
  packages/ui-components/src/components/cards/cardWallet.tsx
  packages/ui-components/src/components/checkbox/checkboxListItem.tsx
  packages/ui-components/src/components/headers/headerDao.tsx
  packages/ui-components/src/components/label/label.tsx
  packages/ui-components/src/components/listItem/action.tsx
  packages/ui-components/src/components/listItem/address.tsx
  packages/ui-components/src/components/listItem/blockchain.tsx
  packages/ui-components/src/components/listItem/dao.tsx
  packages/ui-components/src/components/listItem/header.tsx
  packages/ui-components/src/components/listItem/link.tsx
  packages/ui-components/src/components/modal/modal.tsx
  packages/ui-components/src/components/progress/status.tsx
  packages/ui-components/src/components/stateEmpty/stateEmpty.tsx
  packages/ui-components/src/components/table/tableCell.tsx
  packages/ui-components/src/components/tokenListItem/tokenListItem.tsx
  packages/ui-components/src/components/transferListItem/transferListItem.tsx
  packages/ui-components/src/components/wizard/wizard.tsx
  packages/ui-components/tailwind.config.js
  packages/web-app/index.html
  packages/web-app/src/components/ctaCard/index.tsx
  packages/web-app/src/components/daoCard/index.tsx
  packages/web-app/src/containers/activeProposalsExplore/index.tsx
  packages/web-app/src/containers/daoExplorer/daoExplorer.tsx
  packages/web-app/src/containers/hero/index.tsx
  packages/web-app/tailwind.config.js
Labels: ui-components, web-app

#413 Fix/app 643 font weights
  packages/ui-components/src/components/alerts/alertBanner.tsx
  packages/ui-components/src/components/button/buttonBase.tsx
  packages/ui-components/src/components/cards/cardText.tsx
  packages/ui-components/src/components/cards/cardToken.tsx
  packages/ui-components/src/styles/tailwind.css
  packages/web-app/index.html
Labels: ui-components, web-app
