Repository aragon/app, pull requests merged in 2022-08, with the labels that each got.

#444 Feature: App-739 Remove Action
  packages/web-app/src/containers/actionBuilder/addAddresses/accordionSummary.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/addressRow.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/emptyState.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/index.tsx
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/actionBuilder/removeAddresses/index.tsx
  packages/web-app/src/containers/configureActions/index.tsx
  packages/web-app/src/containers/defineProposal/index.tsx
  packages/web-app/src/containers/manageWalletsModal/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/newProposal.tsx
Labels: web-app, preview

#448 Fix: Carousel, Explore page navbar and more
  packages/web-app/src/containers/carousel/index.tsx
  packages/web-app/src/containers/daoOverview/index.tsx
  packages/web-app/src/containers/navbar/exploreNav.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/governance.tsx
Labels: web-app, preview

#449 Feature: APP-731 - Search Community by Address
  packages/web-app/src/components/membersList/index.tsx
  packages/web-app/src/containers/actionBuilder/removeAddresses/index.tsx
  packages/web-app/src/containers/membershipSnapshot/index.tsx
  packages/web-app/src/hooks/useDaoActions.tsx
  packages/web-app/src/hooks/useDaoMembers.tsx
  packages/web-app/src/hooks/useDebouncedState.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/community.tsx
  packages/web-app/src/queries/dao.tsx
Labels: web-app, preview

#450 Feat: New Token Minting Proposal page and fixes
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/addressTokenRow.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/containers/membershipSnapshot/index.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/pages/community.tsx
  packages/web-app/src/pages/mintTokens.tsx
  packages/web-app/src/utils/paths.ts
Labels: web-app, preview

#453 Feat:Empty State refactoring and Empty State for Resource List
  packages/ui-components/src/components/stateEmpty/stateEmpty.tsx
  packages/ui-components/stories/stateEmpty.stories.tsx
  packages/web-app/src/components/resourceList/index.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/emptyState.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/index.tsx
  packages/web-app/src/containers/actionBuilder/removeAddresses/index.tsx
  packages/web-app/src/containers/activeProposalsExplore/index.tsx
  packages/web-app/src/containers/configureActions/index.tsx
  packages/web-app/src/containers/proposalSnapshot/index.tsx
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/containers/treasurySnapshot/index.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/community.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/pages/mintTokens.tsx
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/proposeSettings.tsx
Labels: ui-components, web-app, preview

#452 App 823 - Minting Summary
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/containers/compareSettings/index.tsx
  packages/web-app/src/containers/defineMetadata/index.tsx
  packages/web-app/src/containers/defineProposal/index.tsx
  packages/web-app/src/containers/goLive/daoMetadata.tsx
  packages/web-app/src/hooks/useDaoToken.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/settings.tsx
  packages/web-app/src/queries/dao.tsx
Labels: web-app

#456 Feature: APP-628 - Remove My Wallet Instances
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/components/whitelistWallets/row.tsx
  packages/web-app/src/containers/communityAddressesModal/index.tsx
  packages/web-app/src/containers/setupCommunity/createNewToken.tsx
  packages/web-app/src/containers/setupCommunity/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/utils/library.ts
Labels: web-app, preview

#451 Fix: APP-760 Review Proposal - Voting details
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/queries/packages.tsx
  packages/web-app/src/utils/date.ts
Labels: web-app

#454 Feature: APP-799 Add withdraw executer widget
  packages/ui-components/src/components/cards/cardToken.tsx
  packages/web-app/src/components/accordionMethod/index.tsx
  packages/web-app/src/components/reviewExecution/actions/withdrawCard.tsx
  packages/web-app/src/components/reviewExecution/actionsFilter.tsx
  packages/web-app/src/components/reviewExecution/index.tsx
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/utils/types.ts
Labels: ui-components, web-app

#458 App 824 token percentage
  packages/web-app/src/containers/actionBuilder/mintTokens/addressTokenRow.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
Labels: web-app, preview

#455 Feature: APP-800 Add/Remove execution widget
  packages/web-app/src/components/accordionMethod/index.tsx
  packages/web-app/src/components/executionWidget/actions/addAddressCard.tsx
  packages/web-app/src/components/executionWidget/actions/removeAddressCard.tsx
  packages/web-app/src/components/executionWidget/actions/withdrawCard.tsx
  packages/web-app/src/components/executionWidget/actionsFilter.tsx
  packages/web-app/src/components/executionWidget/index.tsx
  packages/web-app/src/components/reviewExecution/actionsFilter.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/accordionSummary.tsx
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/utils/types.ts
Labels: web-app, preview

#457 Feat: Review DAO checkbox validation
  packages/ui-components/src/components/checkbox/checkboxListItem.tsx
  packages/ui-components/stories/checkboxListItem.stories.tsx
  packages/web-app/src/components/descriptionList/index.tsx
  packages/web-app/src/containers/goLive/blockchain.tsx
  packages/web-app/src/containers/goLive/community.tsx
  packages/web-app/src/containers/goLive/daoMetadata.tsx
  packages/web-app/src/containers/goLive/governance.tsx
  packages/web-app/src/containers/goLive/index.tsx
  packages/web-app/src/containers/manageWalletsModal/index.tsx
  packages/web-app/src/containers/privacyPolicy/cookieSettingsMenu.tsx
  packages/web-app/src/containers/setupCommunity/index.tsx
  packages/web-app/src/containers/setupVotingForm/index.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/locales/en/common.json
Labels: ui-components, web-app, preview

#461 Feature: APP-815 - Withdraw Action Refactor
  packages/ui-components/src/components/input/textInput.tsx
  packages/ui-components/src/components/input/valueInput.tsx
  packages/web-app/src/components/executionWidget/actions/withdrawCard.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/addressTokenRow.tsx
  packages/web-app/src/containers/actionBuilder/withdraw/withdrawAction.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
Labels: ui-components, web-app, preview

#464 App 722 - Limiting Proposal Actions
  packages/web-app/src/containers/actionBuilder/addAddresses/index.tsx
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/addressTokenRow.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/containers/actionBuilder/removeAddresses/index.tsx
  packages/web-app/src/containers/actionBuilder/withdraw/withdrawAction.tsx
  packages/web-app/src/containers/addActionMenu/index.tsx
  packages/web-app/src/containers/configureActions/index.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/context/actions.tsx
  packages/web-app/src/hooks/useDaoActions.tsx
  packages/web-app/src/pages/mintTokens.tsx
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/utils/types.ts
Labels: web-app

#463 Chore: APP-866 Refactor Proposal Detail Page
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#460 Feat: Execution Widget - Mint token action
  packages/web-app/src/components/executionWidget/actions/mintTokenCard.tsx
  packages/web-app/src/components/executionWidget/actionsFilter.tsx
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/hooks/useDaoActions.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/utils/constants/chains.ts
  packages/web-app/src/utils/types.ts
Labels: web-app, preview

#471 Feature: APP-848 Manage members validation
  packages/web-app/src/components/executionWidget/actions/addAddressCard.tsx
  packages/web-app/src/components/executionWidget/actions/removeAddressCard.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/addressRow.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/index.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/addressTokenRow.tsx
  packages/web-app/src/containers/actionBuilder/removeAddresses/index.tsx
  packages/web-app/src/containers/proposalStepper/index.tsx
  packages/web-app/src/utils/types.ts
  packages/web-app/src/utils/validators.ts
Labels: web-app, preview

#473 Fix: fix withdraw validation for next button
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/utils/types.ts
  packages/web-app/src/utils/validators.ts
Labels: web-app

#465 Feature: APP-869 Vote Now CTA
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/useWalletCanVote.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
Labels: web-app, preview

#474 Fix: Change buttons to secondary on edit settings page
  packages/web-app/src/app.tsx
  packages/web-app/src/pages/editSettings.tsx
  packages/web-app/src/pages/proposeSettings.tsx
Labels: web-app

#469 Chore: Analytics for Create DAO
  .gitignore
  packages/web-app/src/app.tsx
  packages/web-app/src/components/fullScreenStepper/fullScreenStepper.tsx
  packages/web-app/src/components/fullScreenStepper/step.tsx
  packages/web-app/src/containers/carousel/index.tsx
  packages/web-app/src/containers/daoOverview/index.tsx
  packages/web-app/src/containers/goLive/index.tsx
  packages/web-app/src/containers/selectChainForm/index.tsx
  packages/web-app/src/containers/walletMenu/index.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/hooks/useWallet.tsx
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/services/analytics.ts
Labels: web-app, preview

#475 Feature: APP-918 - Execution Terminal Status
  packages/web-app/src/components/accordionMethod/index.tsx
  packages/web-app/src/components/executionWidget/index.tsx
  packages/web-app/src/containers/proposalStepper/index.tsx
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#468 Fix: New SDK integration & enabled deposit and dao creation flow
  packages/web-app/package.json
  packages/web-app/src/components/addLinks/row.tsx
  packages/web-app/src/containers/goLive/daoMetadata.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/context/deposit.tsx
  packages/web-app/src/hooks/useCachedDao.tsx
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/hooks/usePluginClient.tsx
  packages/web-app/src/hooks/usePollGasfee.tsx
  packages/web-app/src/pages/createDAO.tsx
  yarn.lock
Labels: web-app

#476 Chore: "Allocation" label added to wallet row
  packages/web-app/src/components/addWallets/header.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/addressTokenRow.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/locales/en/common.json
Labels: web-app, preview

#477 Fix: APP-936 - Create Proposal Build Error
  packages/web-app/src/components/addLinks/index.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/hooks/usePluginClient.tsx
Labels: web-app
