Repository aragon/app, pull requests merged in 2022-07, with the labels that each got.

#415 Fix: Proposal List
  packages/web-app/src/containers/activeProposalsExplore/index.tsx
  packages/web-app/src/hooks/useDaoProposals.tsx
Labels: web-app, preview

#416 Fix: Disable vote now button on voting terminal
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/locales/en/common.json
Labels: web-app

#412 App 328 explore daos UI
  packages/web-app/src/containers/daoExplorer/daoExplorer.tsx
  packages/web-app/src/hooks/useDaos.tsx
Labels: web-app

#417 Fix: Disable Scroll event on inputs
  packages/ui-components/src/components/input/numberInput.tsx
  packages/ui-components/src/components/input/valueInput.tsx
Labels: ui-components

#421 Fix: APP-607
  packages/ui-components/src/components/input/numberInput.tsx
  packages/ui-components/src/components/input/valueInput.tsx
  packages/web-app/package.json
  yarn.lock
Labels: ui-components, web-app, preview

#420 Fix: APP-511 - list item address
  packages/ui-components/src/components/listItem/address.tsx
  packages/ui-components/stories/listItemAddress.stories.tsx
  packages/web-app/src/containers/membershipSnapshot/index.tsx
Labels: ui-components, web-app

#423 Carousel hijacking scroll on landing page
  packages/web-app/src/containers/carousel/index.tsx
Labels: web-app

#424 Fix: Fixed Modal Headers
  packages/ui-components/src/components/modal/modal.tsx
  packages/web-app/src/containers/communityAddressesModal/index.tsx
  packages/web-app/src/containers/manageWalletsModal/index.tsx
  packages/web-app/src/containers/navbar/daoSelectMenu.tsx
  packages/web-app/src/containers/networkErrorMenu/index.tsx
  packages/web-app/src/containers/privacyPolicy/cookiePreferenceMenu.tsx
  packages/web-app/src/containers/privacyPolicy/cookieSettingsMenu.tsx
  packages/web-app/src/containers/transactionDetail/index.tsx
  packages/web-app/src/containers/walletMenu/LoginRequired.tsx
  packages/web-app/src/containers/walletMenu/index.tsx
Labels: ui-components, web-app

#426 Feature/app 76 gov view proposals listing
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/pages/governance.tsx
Labels: web-app

#425 Fix: DAO overview refactoring and multiple copy changes
  packages/ui-components/src/components/illustrations/object/illuObject.tsx
  packages/ui-components/src/components/wizard/wizard.tsx
  packages/web-app/src/components/cardWithImage/index.tsx
  packages/web-app/src/components/ctaCard/data.ts
  packages/web-app/src/components/fullScreenStepper/fullScreenStepper.tsx
  packages/web-app/src/components/fullScreenStepper/step.tsx
  packages/web-app/src/containers/carousel/index.tsx
  packages/web-app/src/containers/daoOverview/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/public/configureGovernance.svg
  packages/web-app/src/public/defineMetadata.svg
  packages/web-app/src/public/selectBlockchain.svg
  packages/web-app/src/public/setupCommunity.svg
Labels: ui-components, web-app, preview

#432 Fix: App-700
  packages/web-app/src/pages/createDAO.tsx
Labels: web-app

#427 Feature: Proposal Detail - Voters tab
  packages/ui-components/__tests__/illuObject.test.tsx
  packages/ui-components/src/components/table/votersTable.tsx
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/queries/proposals.tsx
Labels: ui-components, web-app

#429 Feature: Remove decimals in Create DAO
  packages/ui-components/__tests__/illuObject.test.tsx
  packages/ui-components/src/components/input/numberInput.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/utils/constants/misc.ts
Labels: ui-components, web-app

#428 Feat: Accordion Method component & Create DAO issues
  packages/web-app/package.json
  packages/web-app/src/components/accordionMethod/index.tsx
  packages/web-app/src/components/addLinks/row.tsx
  packages/web-app/src/containers/daoOverview/index.tsx
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/pages/explore.tsx
  yarn.lock
Labels: web-app

#433 Fix: Non-alphanumeric characters in token creation
  packages/web-app/src/containers/setupCommunity/createNewToken.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/utils/constants/regex.ts
  packages/web-app/src/utils/validators.ts
Labels: web-app

#438 FIX: `ui-components` library dependencies
  packages/ui-components/package.json
  packages/ui-components/src/index.tsx
Labels: ui-components, ui-components:patch

#436 Fix/app 699 mobile dialog
  packages/ui-components/src/components/backdrop/backdrop.tsx
  packages/ui-components/src/components/link/link.tsx
  packages/web-app/index.html
Labels: ui-components, web-app

#437 Fix: Proposal details voting terminal
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#431 Feature: Community Page added APP-663
  packages/ui-components/__tests__/headerPage.test.tsx
  packages/ui-components/src/components/breadcrumb/breadcrumb.tsx
  packages/ui-components/src/components/headers/headerPage.tsx
  packages/ui-components/src/components/headers/index.ts
  packages/ui-components/src/components/listItem/address.tsx
  packages/ui-components/stories/headerPage.stories.tsx
  packages/web-app/src/components/membersList/index.tsx
  packages/web-app/src/containers/membershipSnapshot/index.tsx
  packages/web-app/src/hooks/useDaoMembers.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/community.tsx
Labels: ui-components, web-app

#441 Fix: Proper date formatting
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/community.tsx
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#435 Feature: Token minting action in proposal creation flow
  packages/web-app/src/components/accordionMethod/index.tsx
  packages/web-app/src/components/addLinks/row.tsx
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/addressTokenRow.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/containers/addActionMenu/index.tsx
  packages/web-app/src/containers/configureActions/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/explore.tsx
Labels: web-app

#442 Fix: App-737 - Minor UI bugs on proposal card
  packages/web-app/src/components/proposalList/index.tsx
Labels: preview

#443 Feature: Add authorized wallets action
  packages/ui-components/src/components/link/link.tsx
  packages/web-app/src/components/accordionMethod/index.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/addressRow.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/emptyState.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/index.tsx
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/containers/addActionMenu/index.tsx
  packages/web-app/src/containers/configureActions/index.tsx
  packages/web-app/src/context/actions.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/utils/types.ts
Labels: ui-components, web-app, preview

#445 Feature: App-707 Action Modal
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/addActionMenu/index.tsx
  packages/web-app/src/hooks/useDaoActions.tsx
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/src/utils/types.ts
Labels: web-app

#446 Fix: APP-735
  packages/ui-components/src/components/badge/badge.tsx
  packages/ui-components/src/components/headers/headerPage.tsx
  packages/web-app/src/components/wrappers/pageWrappers.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/hooks/useMappedBreadcrumbs.tsx
  packages/web-app/src/pages/community.tsx
  packages/web-app/src/pages/editSettings.tsx
  packages/web-app/src/pages/proposal.tsx
Labels: ui-components, web-app

#447 Feature: App-682 Decimal Validation
  packages/web-app/src/utils/validators.ts
Labels: web-app
