Repository aragon/app, pull requests merged in 2022-04, with the labels that each got.

#299 Chore/Proposal Page width & Abstain text
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
Labels: web-app, preview

#311 Fix: Fix create dao process ui issues APP-42 APP-41
  packages/web-app/src/components/addWallets/index.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/pages/createDAO.tsx
Labels: web-app

#310 Feature: Implement Web3modal
  .github/workflows/pull_request_webapp_preview.yml
  .github/workflows/webapp-deploy.yml
  packages/web-app/package.json
  packages/web-app/src/app.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/defineProposal/index.tsx
  packages/web-app/src/containers/depositForm/index.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/containers/navbar/mobile.tsx
  packages/web-app/src/containers/navbar/walletMenu.tsx
  packages/web-app/src/containers/selectChainForm/index.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/containers/transactionDetail/index.tsx
  packages/web-app/src/containers/transferMenu/index.tsx
  packages/web-app/src/containers/walletMenu/index.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/globalModals.tsx
  packages/web-app/src/hooks/useEnsData.tsx
  packages/web-app/src/hooks/usePollTransfersPrices.tsx
  packages/web-app/src/hooks/useTokenMetadata.tsx
  packages/web-app/src/hooks/useWallet.tsx
  packages/web-app/src/hooks/useWalletTokens.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/pages/newDeposit.tsx
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/vite.config.ts
  yarn.lock
Labels: web-app

#317 Fix: Staging and Polyfills
  packages/web-app/index.html
  packages/web-app/package.json
  packages/web-app/src/index.tsx
  packages/web-app/typings/walletconnect__web3-provider.d.ts
  packages/web-app/vite.config.ts
  yarn.lock
Labels: web-app

#306 Feature: Wallet based DAO
  packages/ui-components/src/components/alerts/alertCard.tsx
  packages/ui-components/src/components/alerts/alertInline.tsx
  packages/ui-components/src/components/alerts/index.ts
  packages/ui-components/src/components/label/label.tsx
  packages/ui-components/stories/alertCard.stories.tsx
  packages/web-app/src/components/addWallets/footer.tsx
  packages/web-app/src/components/addWallets/header.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/components/whitelistWallets/index.tsx
  packages/web-app/src/components/whitelistWallets/row.tsx
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/containers/goLive/community.tsx
  packages/web-app/src/containers/goLive/governance.tsx
  packages/web-app/src/containers/setupCommunity/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
Labels: ui-components, web-app

#309 Feature: Create Dao Modal UI APP-227
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/goLive/index.tsx
  packages/web-app/src/containers/transactionModal/index.tsx
  packages/web-app/src/containers/transactionModals/publishDaoModal.tsx
  packages/web-app/src/context/globalModals.tsx
  packages/web-app/src/context/transactions.tsx
  packages/web-app/src/hooks/usePollGasfee.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/home.tsx
  packages/web-app/src/utils/constants.ts
  packages/web-app/src/utils/types.ts
Labels: web-app

#313 Feature: APP-80 Network URL
  packages/web-app/src/app.tsx
  packages/web-app/src/components/fullScreenStepper/fullScreenStepper.tsx
  packages/web-app/src/components/navLinks/index.tsx
  packages/web-app/src/components/wrappers/pageWrappers.tsx
  packages/web-app/src/components/wrappers/sectionWrappers.tsx
  packages/web-app/src/containers/goLive/index.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/containers/selectChainForm/index.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/containers/transferMenu/index.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/augmentedWallet.tsx
  packages/web-app/src/context/network.tsx
  packages/web-app/src/hooks/useMappedBreadcrumbs.tsx
  packages/web-app/src/hooks/usePollTransfersPrices.tsx
  packages/web-app/src/hooks/useTokenMetadata.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/pages/home.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/constants.ts
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/constants/chains.ts
  packages/web-app/src/utils/constants/index.ts
  packages/web-app/src/utils/constants/misc.ts
  packages/web-app/src/utils/constants/regex.ts
  packages/web-app/src/utils/paths.ts
Labels: web-app, preview

#320 Fix tests after url network handling
  packages/web-app/src/context/network.tsx
Labels: web-app

#323 Feature: App 305 Wrong wallet network Indicator
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/components/whitelistWallets/index.tsx
  packages/web-app/src/components/whitelistWallets/row.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/defineProposal/index.tsx
  packages/web-app/src/containers/depositForm/index.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/containers/navbar/mobile.tsx
  packages/web-app/src/containers/navbar/networkIndicator.tsx
  packages/web-app/src/containers/setupCommunity/index.tsx
  packages/web-app/src/containers/walletMenu/index.tsx
  packages/web-app/src/hooks/useWallet.tsx
  packages/web-app/src/hooks/useWalletTokens.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/newDeposit.tsx
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/src/utils/types.ts
Labels: web-app

#322 Fix: Chain selection and define metadata
  packages/ui-components/src/components/link/link.tsx
  packages/web-app/src/components/addLinks/row.tsx
  packages/web-app/src/components/navLink/index.tsx
  packages/web-app/src/containers/defineMetadata/index.tsx
  packages/web-app/src/hooks/useMappedBreadcrumbs.tsx
  packages/web-app/src/utils/library.ts
Labels: ui-components, web-app

#318 Feature: wallet base Dao - addresses modal - APP-4
  packages/ui-components/src/components/dropdown/dropdown.tsx
  packages/ui-components/src/components/table/votersTable.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/components/whitelistWallets/index.tsx
  packages/web-app/src/components/whitelistWallets/row.tsx
  packages/web-app/src/containers/communityAddressesModal/index.tsx
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/containers/goLive/community.tsx
  packages/web-app/src/containers/setupCommunity/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
Labels: ui-components, web-app, preview

#324 Feature/Governance Subgraph integration - Phase 1
  packages/ui-components/package.json
  packages/web-app/package.json
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/depositForm/index.tsx
  packages/web-app/src/containers/navbar/__tests__/navbar.test.tsx
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/hooks/useDaoProposals.tsx
  packages/web-app/src/hooks/usePollTransfersPrices.tsx
  packages/web-app/src/hooks/useProposal.tsx
  packages/web-app/src/hooks/useTokenMetadata.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/queries/__generated__/DAO.ts
  packages/web-app/src/queries/__generated__/DAOs.ts
  packages/web-app/src/queries/__generated__/balances.ts
  packages/web-app/src/queries/__generated__/erc20VotingPackages.ts
  packages/web-app/src/queries/__generated__/erc20VotingProposal.ts
  packages/web-app/src/queries/__generated__/erc20VotingProposals.ts
  packages/web-app/src/queries/__generated__/packages.ts
  packages/web-app/src/queries/__generated__/transfers.ts
  packages/web-app/src/queries/__generated__/whitelistPackages.ts
  packages/web-app/src/queries/__generated__/whitelistProposal.ts
  packages/web-app/src/queries/__generated__/whitelistProposals.ts
  packages/web-app/src/queries/coingecko/tokenData.tsx
  packages/web-app/src/queries/proposals.tsx
  packages/web-app/src/services/prices.ts
  packages/web-app/src/utils/date.ts
  packages/web-app/src/utils/types.ts
  packages/web-app/types/global_apollo.ts
  yarn.lock
Labels: ui-components, web-app, preview

#326 Feature: Disable Apollo client caching
  packages/ui-components/src/components/modal/modal.tsx
  packages/web-app/index.html
  packages/web-app/src/app.tsx
  packages/web-app/src/components/modalBottomSheetSwitcher/index.tsx
  packages/web-app/src/containers/navbar/daoSelectMenu.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/containers/navbar/mobile.tsx
  packages/web-app/src/containers/privacyPolicy/cookiePreferenceMenu.tsx
  packages/web-app/src/containers/privacyPolicy/cookieSettingsMenu.tsx
  packages/web-app/src/containers/privacyPolicy/index.tsx
  packages/web-app/src/containers/privacyPolicy/privacyPolicyContent.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/elasticAPM.tsx
  packages/web-app/src/context/privacyContext.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/services/analytics.ts
Labels: ui-components, web-app

#325 Feature: Native token
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/depositForm/index.tsx
  packages/web-app/src/containers/navbar/__tests__/navbar.test.tsx
  packages/web-app/src/containers/reviewDeposit/index.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/containers/setupCommunity/index.tsx
  packages/web-app/src/context/privacyContext.tsx
  packages/web-app/src/hooks/usePollTransfersPrices.tsx
  packages/web-app/src/hooks/useTokenMetadata.tsx
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/services/prices.ts
  packages/web-app/src/utils/constants/api.ts
Labels: web-app

#307 Feature: Create DAO
  .github/workflows/pull_request_webapp_preview.yml
  .github/workflows/webapp-deploy.yml
  .github/workflows/webapp-push.yml
  packages/web-app/package.json
  packages/web-app/src/components/addWallets/index.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/components/whitelistWallets/index.tsx
  packages/web-app/src/components/whitelistWallets/row.tsx
  packages/web-app/src/containers/setupCommunity/index.tsx
  packages/web-app/src/context/transactions.tsx
  packages/web-app/src/hooks/useCache.tsx
  packages/web-app/src/hooks/useCachedDao.tsx
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/utils/date.ts
  packages/web-app/src/utils/types.ts
  yarn.lock
Labels: web-app

#327 Feature: CTA Card
  packages/web-app/src/components/ctaCard/data.ts
  packages/web-app/src/components/ctaCard/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/home.tsx
  packages/web-app/src/public/buildFaster.svg
  packages/web-app/src/public/createDao.svg
  packages/web-app/src/public/learn.svg
  yarn.lock
Labels: web-app, preview

#330 Feature: Explore page APP-339 APP-340 APP-350
  packages/web-app/index.html
  packages/web-app/jest.config.js
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/exploreFooter/__tests__/footer.test.tsx
  packages/web-app/src/containers/exploreFooter/index.tsx
  packages/web-app/src/containers/footer/__tests__/footer.test.tsx
  packages/web-app/src/containers/footer/index.tsx
  packages/web-app/src/containers/hero/index.tsx
  packages/web-app/src/containers/navbar/exploreNav.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/pages/home.tsx
  packages/web-app/src/public/circleGreenGradient.svg
  packages/web-app/src/public/coloredLogo.svg
  packages/web-app/src/public/greenGradient.svg
  packages/web-app/src/public/iconLogo.svg
  packages/web-app/src/public/logo.svg
  packages/web-app/src/public/purpleGradient.svg
  packages/web-app/src/utils/constants/misc.ts
  packages/web-app/svgTransform.ts
  packages/web-app/tailwind.config.js
Labels: web-app
