Repository aragon/app, pull requests merged in 2022-12, with the labels that each got.

#573 Feature: APP-1283 - Connected contracts modals
  packages/web-app/src/containers/smartContractComposer/components/modalHeader.tsx
  packages/web-app/src/containers/smartContractComposer/components/smartContractListGroup.tsx
  packages/web-app/src/containers/smartContractComposer/contractAddressValidation.tsx
  packages/web-app/src/containers/smartContractComposer/contractListModal/index.tsx
  packages/web-app/src/containers/smartContractComposer/desktopModal/header.tsx
  packages/web-app/src/containers/smartContractComposer/desktopModal/index.tsx
  packages/web-app/src/containers/smartContractComposer/emptyStateModal/emptyState.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/demoScc.tsx
  packages/web-app/src/utils/types.ts
  packages/web-app/tailwind.config.js
Labels: web-app

#580 Chore: APP-1311 - Remove DaoSelector component
  packages/ui-components/__tests__/daoSelector.test.tsx
  packages/ui-components/src/components/daoSelector/daoSelector.tsx
  packages/ui-components/src/components/daoSelector/index.ts
  packages/ui-components/src/index.tsx
  packages/ui-components/stories/daoSelector.stories.tsx
Labels: ui-components

#572 Feature: Navigation after DAO creation APP-1040
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/hooks/useDaoParam.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/utils/constants/misc.ts
Labels: web-app, preview

#579 Chore: APP-1308 - Badge to Tag
  packages/ui-components/__tests__/tag.test.tsx
  packages/ui-components/src/components/badge/index.tsx
  packages/ui-components/src/components/breadcrumb/breadcrumb.tsx
  packages/ui-components/src/components/breadcrumb/crumb.tsx
  packages/ui-components/src/components/cards/cardProposal.tsx
  packages/ui-components/src/components/cards/cardToken.tsx
  packages/ui-components/src/components/label/label.tsx
  packages/ui-components/src/components/listItem/blockchain.tsx
  packages/ui-components/src/components/table/tableCell.tsx
  packages/ui-components/src/components/table/votersTable.tsx
  packages/ui-components/src/components/tag/index.ts
  packages/ui-components/src/components/tag/tag.tsx
  packages/ui-components/src/index.tsx
  packages/ui-components/stories/breadcrumbs.stories.tsx
  packages/ui-components/stories/tableCell.stories.tsx
  packages/ui-components/stories/tag.stories.tsx
  packages/web-app/src/components/descriptionList/index.tsx
  packages/web-app/src/components/wrappers/pageWrappers.tsx
  packages/web-app/src/containers/defineMetadata/index.tsx
  packages/web-app/src/containers/goLive/blockchain.tsx
  packages/web-app/src/containers/goLive/community.tsx
  packages/web-app/src/containers/goLive/daoMetadata.tsx
  packages/web-app/src/containers/goLive/governance.tsx
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/hooks/useMappedBreadcrumbs.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/settings.tsx
Labels: ui-components, web-app

#581 Chore: APP-1312 - Rename and migrate CardDao component
  packages/ui-components/__tests__/cardDao.test.tsx
  packages/ui-components/__tests__/tableCell.test.tsx
  packages/ui-components/src/components/cards/index.ts
  packages/ui-components/src/index.tsx
  packages/ui-components/stories/cardDao.stories.tsx
  packages/web-app/src/components/daoSelector/index.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/containers/navbar/mobileMenu.tsx
Labels: ui-components, web-app

#578 Chore: APP-1307 - Remove ActionItem & ActionListItem components
  packages/ui-components/__tests__/actionItem.test.tsx
  packages/ui-components/__tests__/actionListItem.test.tsx
  packages/ui-components/src/components/actionItem/actionItem.tsx
  packages/ui-components/src/components/actionItem/index.ts
  packages/ui-components/src/components/actionListItem/actionListItem.tsx
  packages/ui-components/src/components/actionListItem/index.ts
  packages/ui-components/src/index.tsx
  packages/ui-components/stories/actionItem.stories.tsx
  packages/ui-components/stories/actionListItem.stories.tsx
  packages/web-app/src/containers/transferMenu/index.tsx
  packages/web-app/src/pages/explore.tsx
Labels: ui-components, web-app

#577 Fix: APP-1326 - Cached proposal showing on every DAO
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/transactionDetail/index.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/useProposals.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/utils/library.ts
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#561 Chore: APP-1225 - Gate proposal creation
  packages/web-app/src/components/protectedRoute/index.tsx
  packages/web-app/src/containers/gatingMenu/index.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#574 Feature: Wallet input
  packages/ui-components/__tests__/inputWallet.test.tsx
  packages/ui-components/src/components/input/index.ts
  packages/ui-components/src/components/input/walletInput.tsx
  packages/ui-components/stories/inputWallet.stories.tsx
  packages/web-app/src/containers/smartContractComposer/components/contractAddressValidation.tsx
  packages/web-app/src/pages/demoScc.tsx
Labels: ui-components, web-app

#585 Feature: APP-1300 - Change ghost variant background
  packages/ui-components/src/components/button/buttonIcon.tsx
  packages/ui-components/src/components/button/buttonText.tsx
  packages/ui-components/src/components/input/numberInput.tsx
  packages/ui-components/stories/dropdown.stories.tsx
Labels: ui-components

#583 APP-1301 - Removed Click rings
  packages/ui-components/src/components/button/buttonBase.tsx
  packages/ui-components/src/components/button/buttonWallet.tsx
  packages/ui-components/src/components/input/dateInput.tsx
  packages/ui-components/src/components/input/numberInput.tsx
  packages/ui-components/src/components/input/textInput.tsx
  packages/ui-components/src/components/input/timeInput.tsx
  packages/ui-components/src/components/listItem/action.tsx
  packages/ui-components/src/components/listItem/address.tsx
  packages/ui-components/src/components/listItem/dao.tsx
  packages/ui-components/src/components/menuItem/menuItem.tsx
  packages/ui-components/src/components/transferListItem/transferListItem.tsx
  packages/ui-components/tailwind.config.js
  packages/web-app/src/components/navLink/index.tsx
Labels: ui-components, web-app, preview

#591 Chore: APP-1357 - Bump SDK version to 0.15.2-alpha
  packages/web-app/package.json
  packages/web-app/src/hooks/useDaoBalances.tsx
  packages/web-app/src/hooks/useDaoTransfers.tsx
  yarn.lock
Labels: web-app

#588 Fix: DAO Cards on explore & Empty DAO name on header upon navigation after creation
  packages/web-app/src/components/daoCard/index.tsx
  packages/web-app/src/containers/daoExplorer/daoExplorer.tsx
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/pages/dashboard.tsx
Labels: web-app

#594 Fix: Empty proposal body "Read proposal" button
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#587 Feature: APP-1353 - Proposal workarounds
  packages/web-app/src/containers/transactionModals/publishModal.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/useWalletCanVote.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#589 Fix: Deposit APP-1325
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/deposit.tsx
  packages/web-app/src/hooks/useDaoTransfers.tsx
Labels: web-app

#597 Fix: Empty Links section on settings page
  packages/web-app/src/containers/compareSettings/index.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/pages/settings.tsx
Labels: web-app

#599 Fix: Minimum duration in setup voting step of New Proposal flow
  packages/web-app/src/containers/setupVotingForm/index.tsx
  packages/web-app/src/locales/en/common.json
Labels: web-app, preview

#602 Chore: Bump SDK to 0.16.1-alpha
  packages/web-app/package.json
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/utils/proposals.ts
  yarn.lock
Labels: web-app, preview

#601 Fix: App-1358
  packages/web-app/src/containers/transactionModals/DepositModal.tsx
  packages/web-app/src/containers/transactionModals/publishModal.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/context/deposit.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposeSettings.tsx
Labels: web-app

#595 Fix: ENS Validation in DAO creation
  packages/web-app/src/containers/defineMetadata/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/utils/validators.ts
Labels: web-app

#598 Fix: APP-1319 Remove UTC Field Error after Undo
  packages/web-app/src/containers/proposalStepper/index.tsx
  packages/web-app/src/containers/setupVotingForm/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/manageMembers.tsx
  packages/web-app/src/pages/mintTokens.tsx
  packages/web-app/src/pages/newWithdraw.tsx
Labels: web-app

#603 Fix: APP-1395 Hangs when a deposit is made
  packages/web-app/src/hooks/useDaoTransfers.tsx
Labels: web-app

#605 Fix: App-1402 Settings appear 0 (SDK bump to 0.16.2)
  packages/web-app/package.json
  yarn.lock
Labels: web-app

#607 Fix: AddressList new proposal gating issue has been fixed
  packages/web-app/src/components/protectedRoute/index.tsx
  packages/web-app/src/hooks/useDaoMembers.tsx
Labels: web-app

#608 Fix: Duration in Days breaks proposal creation flow
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/containers/setupVotingForm/index.tsx
  packages/web-app/src/context/createProposal.tsx
Labels: web-app

#610 Feature: Voting - Make display of time left show mins and seconds if needed
  .prettierrc
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/date.ts
Labels: web-app

#609 Fix: Empty DAO links, truncate link url in header dao component
  packages/ui-components/src/components/listItem/link.tsx
  packages/web-app/src/containers/defineMetadata/index.tsx
Labels: ui-components, web-app, preview

#606 Chore: Handling large token name and values
  packages/ui-components/src/components/cards/cardToken.tsx
  packages/ui-components/src/components/input/textInput.tsx
  packages/web-app/src/containers/transactionModals/publishModal.tsx
Labels: ui-components, web-app, preview

#611 Fix: Actions List - APP-1421
  packages/web-app/src/containers/defineProposal/index.tsx
  packages/web-app/src/containers/proposalStepper/index.tsx
  packages/web-app/src/pages/proposal.tsx
Labels: web-app
