Repository aragon/app, pull requests merged in 2023-05, with the labels that each got.

#828 Fix: APP-2178 - Double Copy on 'Create Proposal Card' DAO Dashboard
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/locales/ru-UA/common.json
Labels: web-app

#829 Fix deposit modal all transfers redirect and fetch
  packages/web-app/src/containers/transactionModals/DepositModal.tsx
  packages/web-app/src/hooks/useDaoTransfers.tsx
Labels: web-app

#820 Feature: APP-1322 - Custom ListItemAction
  packages/ui-components/src/components/listItem/action.tsx
  packages/web-app/src/containers/smartContractComposer/components/contractAddressValidation.tsx
  packages/web-app/src/containers/smartContractComposer/components/listItemContract.tsx
  packages/web-app/src/containers/smartContractComposer/components/smartContractListGroup.tsx
  packages/web-app/src/containers/smartContractComposer/contractListModal/index.tsx
  packages/web-app/src/containers/smartContractComposer/desktopModal/index.tsx
  packages/web-app/src/pages/demoScc.tsx
  packages/web-app/src/services/contractVerification.ts
  packages/web-app/src/utils/validators.ts
Labels: ui-components, web-app, preview

#832 feat: added daoCreation_transaction_signed tracking metric
  packages/web-app/src/context/createDao.tsx
Labels: web-app

#836 Feat: APP-2114 POAP claiming link
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/poapClaiming/PoapClaimModal.tsx
  packages/web-app/src/context/globalModals.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/utils/library.ts
Labels: web-app

#831 sourcify Validation - APP-2101
  packages/ui-components/src/components/icons/interface/icon_radio_multi.tsx
  packages/ui-components/src/components/icons/interface/index.ts
  packages/web-app/src/containers/smartContractComposer/components/contractAddressValidation.tsx
  packages/web-app/src/containers/smartContractComposer/components/inputForm.tsx
  packages/web-app/src/hooks/useValidateContract.tsx
  packages/web-app/src/services/contractVerification.ts
  packages/web-app/src/utils/contract.ts
  packages/web-app/src/utils/types.ts
Labels: ui-components, web-app

#842 Fix: Multisig Actions
  packages/web-app/src/containers/configureActions/index.tsx
Labels: web-app

#840 APP-2132 - Add Warning for Minting tokens to DAO treasury
  packages/web-app/src/components/bottomSheet/index.tsx
  packages/web-app/src/components/stateEmpty/index.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/addressTokenRow.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/containers/mintTokensToTreasuryMenu/index.tsx
  packages/web-app/src/locales/en/common.json
Labels: web-app

#834 Fix: APP-2183 - Polygon DAO Crashes on Resolving ENS Name
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/containers/selectChainForm/index.tsx
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/utils/constants/chains.ts
Labels: web-app

#838 Chore/app 2180 build
  .gitignore
  LICENSE.txt
  packages/ui-components/package.json
  packages/ui-components/src/components/illustrations/object/users.tsx
  packages/ui-components/tsdx.config.js
  packages/web-app/CHANGELOG.md
  packages/web-app/Caddyfile
  packages/web-app/package.json
  packages/web-app/tailwind.config.js
  packages/web-app/vite.config.ts
  yarn.lock
Labels: ui-components, web-app, preview

#843 Feat: SCC Manual ABI entry
  packages/web-app/src/containers/addActionMenu/index.tsx
  packages/web-app/src/containers/configureActions/index.tsx
  packages/web-app/src/containers/smartContractComposer/components/contractAddressValidation.tsx
  packages/web-app/src/containers/smartContractComposer/components/inputForm.tsx
  packages/web-app/src/containers/smartContractComposer/components/smartContractListGroup.tsx
  packages/web-app/src/containers/smartContractComposer/contractListModal/index.tsx
  packages/web-app/src/containers/smartContractComposer/desktopModal/index.tsx
  packages/web-app/src/containers/smartContractComposer/emptyStateModal/emptyState.tsx
  packages/web-app/src/containers/smartContractComposer/index.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/utils/constants/misc.ts
Labels: web-app, preview

#835 Chore: APP-2171 - SDK version bump
  packages/web-app/package.json
  packages/web-app/src/containers/daoExplorer/daoExplorer.tsx
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/library.ts
  packages/web-app/src/utils/proposals.ts
  yarn.lock
Labels: web-app

#841 Feature: APP-1610 - Voted status on CardProposal
  packages/ui-components/src/components/cards/cardProposal.tsx
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/containers/proposalSnapshot/index.tsx
  packages/web-app/src/locales/en/common.json
Labels: ui-components, web-app

#839 Fix: APP-2176 Multisig proposals should default creation time to now
  packages/web-app/src/containers/dateTimeSelector/index.tsx
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/containers/votingTerminal/infoTab.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposeSettings.tsx
Labels: web-app

#848 Fix: APP-2204 QA issue fix
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#851 Fix - Multisig Actions
  packages/web-app/src/containers/configureActions/index.tsx
Labels: web-app

#852 Fix: APP-2214 - Proposal Status
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/useProposals.tsx
Labels: web-app, preview

#846 Feat: SCC mobile view + some issues
  packages/ui-components/src/components/listItem/action.tsx
  packages/web-app/src/containers/smartContractComposer/components/actionListGroup.tsx
  packages/web-app/src/containers/smartContractComposer/components/inputForm.tsx
  packages/web-app/src/containers/smartContractComposer/components/listItemContract.tsx
  packages/web-app/src/containers/smartContractComposer/contractListModal/index.tsx
  packages/web-app/src/containers/smartContractComposer/desktopModal/index.tsx
  packages/web-app/src/containers/smartContractComposer/mobileModal/index.tsx
  packages/web-app/src/utils/contract.ts
Labels: ui-components, web-app, preview

#849 Feat: SCC input form validation
  packages/ui-components/src/components/listItem/action.tsx
  packages/web-app/src/containers/actionBuilder/scc/index.tsx
  packages/web-app/src/containers/smartContractComposer/components/inputForm.tsx
  packages/web-app/src/containers/smartContractComposer/mobileModal/index.tsx
  packages/web-app/src/hooks/useValidateContract.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/services/etherscanAPI.ts
  packages/web-app/src/utils/constants/chains.ts
Labels: ui-components, web-app, preview

#853 Fix: Reverting polygonscan changes & Infinite time for etherscan api fetch
  packages/web-app/src/containers/actionBuilder/scc/index.tsx
  packages/web-app/src/hooks/useValidateContract.tsx
  packages/web-app/src/services/etherscanAPI.ts
  packages/web-app/src/utils/constants/chains.ts
Labels: web-app

#850 APP-2184 - added netspec comments for ethers contracts
  .github/workflows/pull_request_webapp_preview.yml
  .github/workflows/webapp-deploy-dev.yml
  .github/workflows/webapp-deploy.yml
  packages/web-app/src/containers/smartContractComposer/components/contractAddressValidation.tsx
  packages/web-app/src/hooks/useValidateContract.tsx
  packages/web-app/src/utils/constants/chains.ts
  packages/web-app/src/utils/contract.ts
Labels: web-app

#854 Fix: Tuples sent as array objects instead of array strings
  packages/web-app/src/containers/smartContractComposer/components/inputForm.tsx
  packages/web-app/src/context/createProposal.tsx
Labels: web-app, preview

#855 Feature: APP-2211 - SCC Payable input
  packages/web-app/src/containers/smartContractComposer/components/inputForm.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/constants/scc.ts
  packages/web-app/src/utils/library.ts
  packages/web-app/src/utils/types.ts
Labels: web-app, preview

#857 Fix: Removed flat map when filtering payable amount
  packages/web-app/src/context/createProposal.tsx
Labels: web-app

#856 Feature: APP-2199 Contact Composer - Design QA Issues
  packages/web-app/src/containers/smartContractComposer/components/inputForm.tsx
  packages/web-app/src/containers/smartContractComposer/components/listHeaderContract.tsx
  packages/web-app/src/containers/smartContractComposer/components/listItemContract.tsx
  packages/web-app/src/containers/smartContractComposer/contractListModal/index.tsx
  packages/web-app/src/containers/smartContractComposer/desktopModal/header.tsx
  packages/web-app/src/containers/smartContractComposer/desktopModal/index.tsx
  packages/web-app/src/containers/smartContractComposer/emptyStateModal/emptyState.tsx
  packages/web-app/src/containers/smartContractComposer/index.tsx
  packages/web-app/src/containers/smartContractComposer/mobileModal/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/services/cache.ts
  packages/web-app/src/utils/contract.ts
Labels: web-app

#858 Fix: APP-2211 Added translation strings
  packages/web-app/src/containers/smartContractComposer/components/inputForm.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/constants/scc.ts
  packages/web-app/src/utils/library.ts
Labels: web-app
