Repository aragon/app, pull requests merged in 2023-06, with the labels that each got.

#862 Fix: APP-2222 SCC (Mobile Device) - Input Fields for Long Function Names do NOT Display well
  packages/web-app/src/containers/smartContractComposer/components/inputForm.tsx
Labels: web-app

#861 Feat: Refetch implementation for Proxy contracts
  packages/web-app/src/hooks/useValidateContract.tsx
  packages/web-app/src/services/etherscanAPI.ts
Labels: web-app

#869 Fix: Added try catch and null check to NatSpec parser
  packages/web-app/src/utils/contract.ts
Labels: web-app

#870 Fixed a polygonscan api fetch bug
  packages/web-app/src/services/etherscanAPI.ts
Labels: web-app

#864 Add Wrapped verification, Existing token process
  packages/web-app/src/abis/erc1155TokenABI.ts
  packages/web-app/src/abis/erc721TokenABI.ts
  packages/web-app/src/abis/governanceWrappedERC20TokenABI.ts
  packages/web-app/src/components/verificationCard/index.tsx
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/containers/goLive/community.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/containers/setupCommunity/index.tsx
  packages/web-app/src/containers/setupVotingForm/multisig.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/utils/tokens.ts
  packages/web-app/src/utils/validators.ts
Labels: web-app, preview

#867 Feature: APP-2223 add apis needed for existing tokens
  .github/workflows/pull_request_webapp_preview.yml
  .github/workflows/webapp-deploy-dev.yml
  .github/workflows/webapp-deploy.yml
  Dockerfile.webapp.dev
  packages/web-app/jest.config.js
  packages/web-app/package.json
  packages/web-app/src/abis/ownableABI.ts
  packages/web-app/src/services/covalentAPI.ts
  packages/web-app/src/utils/__tests__/tokenInfo.test.txt
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/constants/chains.ts
  packages/web-app/src/utils/tokens.ts
  packages/web-app/tests/test.http
  yarn.lock
Labels: web-app

#874 fix: native tokens withdrawal action display on proposal page
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#873 Chore APP-2196 - Update to use new IPFS nodes
  packages/web-app/src/components/executionWidget/actions/modifyMetadataCard.tsx
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/hooks/useDaos.tsx
  packages/web-app/src/hooks/useFavoritedDaos.tsx
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/constants/chains.ts
  packages/web-app/src/utils/library.ts
Labels: web-app

#875 Remove any possibility of minting tokens if using existing token - APP-2227
  packages/web-app/src/abis/aragonTokenABI.ts
  packages/web-app/src/containers/settings/majorityVoting/index.tsx
  packages/web-app/src/hooks/useDaoActions.tsx
  packages/web-app/src/utils/tokens.ts
Labels: web-app

#877 Feat: Network Name on Deposit Modal
  packages/web-app/src/containers/transactionModals/DepositModal.tsx
  packages/web-app/src/locales/en/common.json
Labels: web-app

#876 feat: APP-2212 units helper for SCC
  packages/web-app/src/containers/smartContractComposer/components/inputForm.tsx
Labels: web-app

#881 Fix: APP-2233 - get members for token existing from covalent API
  packages/web-app/src/components/verificationCard/index.tsx
  packages/web-app/src/containers/goLive/community.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/hooks/useDaoMembers.tsx
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/services/covalentAPI.ts
Labels: web-app

#884 Fix bignumber issues
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useWallet.tsx
  packages/web-app/src/utils/abiDecoder.ts
  packages/web-app/src/utils/constants/misc.ts
  packages/web-app/src/utils/proposals.ts
  packages/web-app/src/utils/types.ts
  packages/web-app/vite.config.ts
Labels: web-app

#880 Add Wrapped verification, Existing token process
  packages/web-app/src/containers/settings/majorityVoting/index.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/hooks/useExistingToken.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/community.tsx
Labels: web-app

#883 Fix: APP-2268, APP-2269 & APP-2272 - Deposit and Login Modal Fixes
  packages/ui-components/src/components/input/walletInput.tsx
  packages/web-app/src/app.tsx
  packages/web-app/src/components/protectedRoute/index.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/containers/transactionModals/depositModal.tsx
  packages/web-app/src/containers/transferMenu/index.tsx
  packages/web-app/src/containers/treasurySnapshot/index.tsx
  packages/web-app/src/containers/walletMenu/LoginRequired.tsx
  packages/web-app/src/utils/constants/chains.ts
Labels: ui-components, web-app

#878 Feat: APP-2270 - Input Wallet in Existing tokens flow
  packages/ui-components/src/components/input/walletInput.tsx
  packages/web-app/src/components/wrappedWalletInput/index.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/containers/transactionModals/depositModal.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/utils/constants/chains.ts
  packages/web-app/src/utils/validators.ts
Labels: ui-components, web-app

#887 Feat: APP-2261 - Wallet Connect - Initial Setup
  packages/web-app/src/components/modalHeader/index.tsx
  packages/web-app/src/components/stateEmpty/index.tsx
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/smartContractComposer/components/contractAddressValidation.tsx
  packages/web-app/src/containers/smartContractComposer/emptyStateModal/emptyState.tsx
  packages/web-app/src/containers/walletConnect/dAppValidationModal/index.tsx
  packages/web-app/src/containers/walletConnect/emptyStateModal/index.tsx
  packages/web-app/src/containers/walletConnect/index.tsx
  packages/web-app/src/hooks/useDaoActions.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/public/walletConnect.svg
  packages/web-app/src/utils/types.ts
Labels: web-app

#886 APP-2251 - Upgrade Web3modal & Wallet connect to V2
  packages/web-app/package.json
  packages/web-app/src/components/addWallets/__tests__/addWallets.test.tsx
  packages/web-app/src/components/protectedRoute/index.tsx
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/containers/navbar/__tests__/navbar.test.tsx
  packages/web-app/src/containers/networkErrorMenu/index.tsx
  packages/web-app/src/context/augmentedWallet.tsx
  packages/web-app/src/context/network.tsx
  packages/web-app/src/context/signer.tsx
  packages/web-app/src/hooks/useEthersSigner.tsx
  packages/web-app/src/hooks/useWallet.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/utils/__tests__/proposals.test.ts
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/test-utils.tsx
  packages/web-app/typings/react-app-env.d.ts
  packages/web-app/typings/walletconnect__web3-provider.d.ts
  packages/web-app/vite.config.ts
  yarn.lock
Labels: web-app, preview

#879 DOPS-528 config apm in aragon app
  .github/workflows/webapp-deploy-dev.yml
  packages/web-app/src/context/elasticAPM.tsx
  packages/web-app/tsconfig.json
Labels: web-app

#890 Fix Wallet Connect V2 Production error
  packages/web-app/package.json
  packages/web-app/src/index.tsx
  packages/web-app/vite.config.ts
  yarn.lock
Labels: web-app, preview

#885 Feat: APP-2230 tweaking dao creation flow to account for wrapped tokens
  packages/web-app/package.json
  packages/web-app/src/components/verificationCard/index.tsx
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/containers/configureCommunity/minParticipation.tsx
  packages/web-app/src/containers/goLive/community.tsx
  packages/web-app/src/containers/goLive/governance.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/utils/htmlIn.ts
  packages/web-app/src/utils/tokens.ts
  yarn.lock
Labels: web-app

#893 Fix: APP-2284 - Creating DAO with wrapped token
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/hooks/useDaoMembers.tsx
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/utils/validators.ts
Labels: web-app

#894 fix: APP-2226, QA feedback fixes
  packages/ui-components/src/utils/addresses.tsx
  packages/web-app/src/containers/configureCommunity/minParticipation.tsx
Labels: ui-components, web-app

#871 feat: APP-2194 existing tokens wrapping/unwrapping
  packages/web-app/src/app.tsx
  packages/web-app/src/components/protectedRoute/index.tsx
  packages/web-app/src/components/stateEmpty/index.tsx
  packages/web-app/src/containers/gatingMenu/index.tsx
  packages/web-app/src/containers/govTokensWrappingModal/GovTokensWrappingModal.tsx
  packages/web-app/src/containers/membershipSnapshot/index.tsx
  packages/web-app/src/containers/setupCommunity/addExistingToken.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/context/govTokensWrapping.tsx
  packages/web-app/src/hooks/useDaoMembers.tsx
  packages/web-app/src/hooks/useDaoToken.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/community.tsx
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/pages/finance.tsx
  packages/web-app/src/utils/constants/api.ts
Labels: web-app

#896 Chore: Update Subgraph nodes
  packages/web-app/src/utils/constants/api.ts
Labels: web-app

#897 Chore: Reroute Mainnet & Polygon traffic to test IPFS node
  packages/web-app/src/utils/constants/chains.ts
Labels: web-app
