Repository aragon/app, pull requests merged in 2023-01, with the labels that each got.

#614 Fix: APP-1507- Rejected transactions hanging
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/utils/library.ts
  packages/web-app/src/utils/proposals.ts
Labels: web-app, preview

#613 Hide AddressList DAO - APP-1335
  packages/web-app/src/containers/setupCommunity/index.tsx
  packages/web-app/src/pages/createDAO.tsx
Labels: web-app

#615 Feature: APP-518 - Store list of favorited DAOs in localstorage
  packages/web-app/src/components/daoSelector/index.tsx
  packages/web-app/src/containers/navbar/daoSelectMenu.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/containers/navbar/mobile.tsx
  packages/web-app/src/containers/navbar/mobileMenu.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/utils/constants/misc.ts
  packages/web-app/src/utils/types.ts
Labels: web-app

#620 Fix: APP-1509
  packages/web-app/src/containers/transactionModals/publishModal.tsx
  packages/web-app/src/context/createProposal.tsx
Labels: web-app

#624 Fix: APP-1533 - Vote button label
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#623 Feature: APP-1345 - Remove popover
  packages/ui-components/__tests__/popover.test.tsx
  packages/ui-components/package.json
  packages/ui-components/src/components/popover/index.tsx
  packages/ui-components/src/components/popover/popover.tsx
  packages/ui-components/src/components/wizard/wizard.tsx
  packages/ui-components/src/index.tsx
  packages/ui-components/stories/popover.stories.tsx
  packages/web-app/src/containers/selectChainForm/index.tsx
  packages/web-app/src/locales/en/common.json
  yarn.lock
Labels: ui-components, web-app

#617 Feature: APP-1518 - Favorite DAOs using star icon
  packages/ui-components/src/components/headers/headerDao.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/dashboard.tsx
Labels: ui-components, web-app

#622 Feature: APP-1524 - Update DAO Header Dropdown
  packages/ui-components/src/components/headers/headerDao.tsx
  packages/ui-components/src/hooks/useScreen.ts
  packages/web-app/src/pages/dashboard.tsx
Labels: ui-components, web-app

#625 Chore: APP-1346 Remove MenuItem
  packages/ui-components/__tests__/menuItem.test.tsx
  packages/ui-components/src/components/menuItem/index.ts
  packages/ui-components/src/components/menuItem/menuItem.tsx
  packages/ui-components/src/index.tsx
  packages/ui-components/stories/menuItem.stories.tsx
Labels: ui-components

#612 Feature: Caching of proposal execution
  packages/ui-components/src/components/cards/cardToken.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/useProposals.tsx
  packages/web-app/src/utils/constants/misc.ts
Labels: ui-components, web-app, preview

#621 Feature: Add newly created DAO to favorites
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/createDao.tsx
Labels: web-app

#626 Chore: Disable/hide inapplicable network options in DAO Creation flow
  packages/web-app/src/containers/selectChainForm/index.tsx
Labels: web-app

#616 Feature: DAO logo upload
  packages/ui-components/src/components/avatar/avatarDao.tsx
  packages/web-app/src/containers/navbar/mobile.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/hooks/useDaos.tsx
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/pages/dashboard.tsx
Labels: ui-components, web-app

#619 Feature: APP-650 - Show favorited DAOs on explorer
  packages/web-app/src/components/daoCard/index.tsx
  packages/web-app/src/containers/daoExplorer/daoExplorer.tsx
  packages/web-app/src/hooks/useDaos.tsx
  packages/web-app/src/pages/dashboard.tsx
Labels: web-app

#627 Fix: Failed Dao creation for DAO without logo
  packages/web-app/src/context/createDao.tsx
Labels: web-app

#628 Fix: APP-1556: Favorite DAOs and their logo
  packages/web-app/src/containers/navbar/daoSelectMenu.tsx
Labels: web-app

#632 Change subgraph url
  packages/web-app/src/utils/constants/api.ts
Labels: web-app

#629 Feature: APP-1573 & APP-1559 - Explorer
  packages/web-app/src/containers/daoExplorer/daoExplorer.tsx
  packages/web-app/src/hooks/useDaos.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/explore.tsx
Labels: web-app

#630 Chore: Warning for Support Threshold
  packages/ui-components/src/components/tag/tag.tsx
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
Labels: ui-components, web-app, preview

#633 Fix: App-1301 Active State on Inputs
  packages/ui-components/src/components/input/dateInput.tsx
  packages/ui-components/src/components/input/dropdownInput.tsx
  packages/ui-components/src/components/input/numberInput.tsx
  packages/ui-components/src/components/input/searchInput.tsx
  packages/ui-components/src/components/input/textInput.tsx
  packages/ui-components/src/components/input/timeInput.tsx
  packages/ui-components/src/components/input/valueInput.tsx
  packages/ui-components/src/components/input/walletInput.tsx
  packages/ui-components/src/components/textarea/textarea.tsx
  packages/ui-components/src/components/textarea/wysiwyg.tsx
Labels: ui-components

#634 Feature: APP-1438 Vote replacement & Early execution
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
Labels: web-app

#636 Chore: Show Warning for Minimum Duration
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/utils/constants/misc.ts
Labels: web-app, preview

#642 Chore: APP-1644 - Bump SDK Client to 0.17.1-alpha
  packages/web-app/package.json
  packages/web-app/src/utils/__tests__/proposals.test.ts
  packages/web-app/src/utils/proposals.ts
  yarn.lock
Labels: web-app

#640 Feat: APP-1622 MajVot Existing Settings
  packages/web-app/src/components/descriptionList/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/settings.tsx
Labels: web-app

#643 APP-1642 - Fix allowance history issue in deposit flow
  packages/web-app/src/context/deposit.tsx
Labels: web-app

#637 Chore: Fixes proposal data on Proposal Details page and Explore page
  packages/web-app/src/containers/daoExplorer/daoExplorer.tsx
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#641 Feature: APP-1440 - Majority Voting Terminal info tab
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#644 Feature: APP-1445 - Majority Voting, Early execution
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#639 Feature: Enable who can create proposal in Dao creation using SDK
  packages/ui-components/src/components/input/numberInput.tsx
  packages/ui-components/stories/inputNumber.stories.tsx
  packages/web-app/src/components/addWallets/index.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/components/selectEligibility/index.tsx
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/containers/setupCommunity/createNewToken.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
Labels: ui-components, web-app

#638 Feature: APP-1324 - Decode update settings & DAO metadata actions
  packages/ui-components/src/components/link/link.tsx
  packages/web-app/src/components/accordionMethod/index.tsx
  packages/web-app/src/components/executionWidget/actions/modifyMetadataCard.tsx
  packages/web-app/src/components/executionWidget/actions/modifySettingsCard.tsx
  packages/web-app/src/components/executionWidget/actionsFilter.tsx
  packages/web-app/src/components/executionWidget/index.tsx
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/library.ts
  packages/web-app/src/utils/proposals.ts
  packages/web-app/src/utils/types.ts
Labels: ui-components, web-app

#650 Chore: APP-1677 - SDK bump to 0.18.0-alpha
  packages/web-app/package.json
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/hooks/useDaoBalances.tsx
  packages/web-app/src/hooks/useDaoTransfers.tsx
  packages/web-app/src/hooks/usePluginClient.tsx
  packages/web-app/src/hooks/useProposals.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/utils/library.ts
  packages/web-app/src/utils/proposals.ts
  packages/web-app/src/utils/types.ts
  yarn.lock
Labels: web-app, preview

#647 Feature: Allow vote to be recasted
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
Labels: web-app, preview

#646 APP-1623 - Feat: Adapt Settings Flow
  packages/web-app/src/containers/compareSettings/index.tsx
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/containers/defineMetadata/index.tsx
  packages/web-app/src/hooks/useTokenSupply.tsx
  packages/web-app/src/pages/editSettings.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/pages/settings.tsx
  packages/web-app/src/utils/library.ts
Labels: web-app

#645 Feature: MV - Token Threshold Gating
  packages/web-app/src/components/protectedRoute/index.tsx
Labels: web-app

#649 Feature: APP-1568 - Proposal Review (Settings)
  packages/web-app/src/components/executionWidget/actions/modifyMetadataCard.tsx
  packages/web-app/src/containers/compareSettings/index.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/hooks/useTokenSupply.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/editSettings.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/pages/settings.tsx
  packages/web-app/src/utils/library.ts
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#652 Feature: App-1437
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/components/selectEligibility/index.tsx
  packages/web-app/src/containers/goLive/community.tsx
  packages/web-app/src/containers/goLive/governance.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
Labels: web-app

#654 Fix: invalid BigNumber fix in proposal page
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/utils/proposals.ts
Labels: web-app, preview

#655 Fix/proposal gating
  packages/web-app/src/components/protectedRoute/index.tsx
  packages/web-app/src/containers/goLive/blockchain.tsx
Labels: web-app

#657 Feature: APP-1687 - SDK bump
  packages/web-app/package.json
  packages/web-app/src/pages/proposal.tsx
  yarn.lock
Labels: web-app

#658 Feature: APP-1699 - Display Multisig
  packages/web-app/src/components/membersList/index.tsx
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/components/protectedRoute/index.tsx
  packages/web-app/src/containers/actionBuilder/removeAddresses/index.tsx
  packages/web-app/src/containers/compareSettings/index.tsx
  packages/web-app/src/containers/membershipSnapshot/index.tsx
  packages/web-app/src/containers/proposalSnapshot/index.tsx
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/containers/setupVotingForm/index.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useDaoActions.tsx
  packages/web-app/src/hooks/useDaoMembers.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/usePluginClient.tsx
  packages/web-app/src/hooks/usePluginSettings.tsx
  packages/web-app/src/hooks/useProposals.tsx
  packages/web-app/src/hooks/useWalletCanVote.tsx
  packages/web-app/src/pages/community.tsx
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/pages/editSettings.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/pages/settings.tsx
  packages/web-app/src/utils/proposals.ts
  packages/web-app/src/utils/types.ts
Labels: web-app, preview

#666 APP-1538 : Fetch Multisig settings data
  packages/web-app/src/containers/compareSettings/index.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/containers/navbar/mobileMenu.tsx
  packages/web-app/src/containers/settings/majorityVoting/index.tsx
  packages/web-app/src/containers/settings/multisig/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/settings.tsx
Labels: web-app
