Repository aragon/app, pull requests merged in 2023-02, with the labels that each got.

#662 Feature: Add multisig to create dao community field
  packages/ui-components/src/components/checkbox/checkboxListItem.tsx
  packages/web-app/src/components/multisigEligibility/index.tsx
  packages/web-app/src/components/multisigWallets/index.tsx
  packages/web-app/src/components/multisigWallets/row.tsx
  packages/web-app/src/components/whitelistWallets/index.tsx
  packages/web-app/src/components/whitelistWallets/row.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/addressRow.tsx
  packages/web-app/src/containers/setupCommunity/index.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/tailwind.config.js
Labels: ui-components, web-app

#671 Chore: Hide "External Contract" filter on All Transfers page
  packages/web-app/src/containers/compareSettings/index.tsx
  packages/web-app/src/pages/transfers.tsx
Labels: web-app

#669 Feature: Create multisig dao settings page
  packages/web-app/src/components/multisigMinimumApproval/index.tsx
  packages/web-app/src/containers/configureCommunity/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
Labels: web-app

#672 Fix: APP-1641
  packages/ui-components/src/components/input/inputImageSingle.tsx
Labels: ui-components

#667 Fix: Ens name validation - APP-1568
  packages/web-app/package.json
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/utils/validators.ts
  yarn.lock
Labels: web-app

#663 Feature: APP-1540 - Multisig - Proposal Duration Warnings
  packages/web-app/src/containers/dateTimeSelector/index.tsx
  packages/web-app/src/containers/duration/index.tsx
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/containers/setupVotingForm/dateTimeErrors.tsx
  packages/web-app/src/containers/setupVotingForm/index.tsx
  packages/web-app/src/containers/setupVotingForm/multisig.tsx
  packages/web-app/src/containers/setupVotingForm/tokenVoting.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/src/utils/__tests__/proposals.test.ts
  packages/web-app/src/utils/constants/misc.ts
  packages/web-app/src/utils/date.ts
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#674 Chore: Fix Staging deployment
  packages/web-app/src/locales/en/common.json
Labels: web-app

#676 Chore: Changed ButtonBase min-width and Number Input border radius
  packages/ui-components/src/components/button/buttonBase.tsx
  packages/ui-components/src/components/input/numberInput.tsx
Labels: ui-components, preview

#670 Feature: Multisig confirm setting page
  packages/ui-components/src/components/checkbox/checkboxListItem.tsx
  packages/web-app/src/components/descriptionList/index.tsx
  packages/web-app/src/components/multisigEligibility/index.tsx
  packages/web-app/src/containers/communityAddressesModal/index.tsx
  packages/web-app/src/containers/goLive/blockchain.tsx
  packages/web-app/src/containers/goLive/community.tsx
  packages/web-app/src/containers/goLive/daoMetadata.tsx
  packages/web-app/src/containers/goLive/governance.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/locales/en/common.json
Labels: ui-components, web-app

#675 Chore: Switch to infinite pagination on governance page
  packages/web-app/src/hooks/useProposals.tsx
  packages/web-app/src/pages/governance.tsx
Labels: web-app, preview

#681 Feature: APP-1473 - Multisig DAO - Minimum Approval Warnings
  packages/ui-components/src/components/input/numberInput.tsx
  packages/web-app/src/components/multisigMinimumApproval/index.tsx
  packages/web-app/src/components/multisigMinimumApproval/minimumApproval.tsx
  packages/web-app/src/components/multisigWallets/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/utils/constants/misc.ts
Labels: ui-components, web-app, preview

#665 fix: App-1684
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#677 Fix: APP-1540 - Proposal Duration Warnings
  packages/web-app/src/containers/dateTimeSelector/index.tsx
  packages/web-app/src/containers/duration/index.tsx
  packages/web-app/src/containers/setupVotingForm/multisig.tsx
  packages/web-app/src/containers/setupVotingForm/tokenVoting.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/utils/constants/misc.ts
Labels: web-app

#679 Fix: APP-1669 Finance - Rework Calculation
  packages/web-app/src/components/tokenList/index.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/depositForm/index.tsx
  packages/web-app/src/hooks/useDaoVault.tsx
  packages/web-app/src/hooks/usePollTokenPrices.tsx
  packages/web-app/src/hooks/usePollTransfersPrices.tsx
  packages/web-app/src/hooks/useTokenMetadata.tsx
  packages/web-app/src/services/prices.ts
  packages/web-app/src/utils/constants/topSymbolAddresses.ts
  packages/web-app/src/utils/tokens.ts
  packages/web-app/src/utils/types.ts
Labels: web-app

#685 Chore: Fix Staging
  packages/web-app/src/utils/constants/misc.ts
Labels: web-app

#678 Feature: APP-1542 - Multisig DAO - Proposal Gating
  packages/web-app/src/components/protectedRoute/index.tsx
  packages/web-app/src/hooks/usePluginSettings.tsx
Labels: web-app, preview

#668 Fix: APP-1636
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/utils/date.ts
Labels: web-app

#686 Fix: APP-1682 - UTC Error
  packages/web-app/src/containers/dateTimeSelector/index.tsx
  packages/web-app/src/utils/date.ts
Labels: web-app

#688 Post merge fixes to 1542 and 1669
  packages/web-app/src/containers/setupVotingForm/index.tsx
  packages/web-app/src/hooks/usePluginSettings.tsx
  packages/web-app/src/utils/tokens.ts
Labels: web-app

#689 Fix: Multisig DAO - Updated prefixProposalIdWithPlgnAdr to handle bigint hex from SDK
  packages/web-app/src/utils/__tests__/proposals.test.ts
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#684 Chore: App-1731
  packages/web-app/src/components/temporary/loading.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/context/proposalTransaction.tsx
Labels: web-app

#692 New Crowdin updates
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/locales/ru-UA/common.json
Labels: web-app

#680 Chore: Fix spacing issues in Explore page and List-Item-Header
  packages/ui-components/src/components/listItem/header.tsx
  packages/web-app/src/containers/carousel/index.tsx
  packages/web-app/src/containers/hero/index.tsx
  packages/web-app/src/pages/explore.tsx
  packages/web-app/tailwind.config.js
Labels: ui-components, web-app, preview

#696 New Crowdin updates
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/locales/ru-UA/common.json
Labels: web-app

#687 Feature: APP-1752 Multisig DAO - Voting Terminal breakdown and voters
  packages/ui-components/src/components/table/tableCell.tsx
  packages/ui-components/src/components/table/votersTable.tsx
  packages/web-app/src/containers/votingTerminal/breakdownTab.tsx
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/hooks/useDaoMembers.tsx
  packages/web-app/src/hooks/useWalletCanVote.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/proposals.ts
  packages/web-app/src/utils/types.ts
Labels: ui-components, web-app, preview

#699 Fix: APP-1752 - Voting Terminal
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#697 Fix: Dao name validation on settings page
  packages/web-app/src/containers/defineMetadata/index.tsx
  packages/web-app/src/pages/editSettings.tsx
Labels: web-app

#693 add minApproval to proposal flow
  packages/web-app/src/components/accordionMethod/index.tsx
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/actionBuilder/removeAddresses/index.tsx
  packages/web-app/src/containers/actionBuilder/updateMinimumApproval/index.tsx
  packages/web-app/src/context/actions.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/manageMembers.tsx
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/src/utils/types.ts
Labels: web-app, preview

#701 Feature: APP-1757 - Multisig DAO - Voting Terminal Info Tab
  packages/web-app/src/containers/votingTerminal/index.tsx
  packages/web-app/src/containers/votingTerminal/infoTab.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#694 Feature: APP-1759 - Multisig DAO - decode add remove wallet actions
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/library.ts
Labels: web-app

#705 Feat: Multisig Approve flow
  packages/ui-components/src/components/button/buttonGroup/button.tsx
  packages/web-app/src/components/temporary/loading.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/pages/proposal.tsx
Labels: ui-components, web-app, preview

#702 Feature: APP-1722 - Multisig DAO - Review Proposal Voting Terminal
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#703 Feature: Add ensField to DAO Creation Flow - APP-1568
  packages/web-app/package.json
  packages/web-app/src/containers/defineMetadata/index.tsx
  packages/web-app/src/containers/goLive/daoMetadata.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/pages/editSettings.tsx
  packages/web-app/src/pages/settings.tsx
  packages/web-app/src/utils/validators.ts
  yarn.lock
Labels: web-app

#698 New Crowdin updates
  packages/web-app/src/components/addLinks/__tests__/addLinks.test.tsx
  packages/web-app/src/components/addWallets/__tests__/addWallets.test.tsx
  packages/web-app/src/components/executionWidget/actions/addAddressCard.tsx
  packages/web-app/src/components/executionWidget/actions/mintTokenCard.tsx
  packages/web-app/src/components/executionWidget/actions/modifyMetadataCard.tsx
  packages/web-app/src/components/executionWidget/actions/modifySettingsCard.tsx
  packages/web-app/src/components/executionWidget/actions/removeAddressCard.tsx
  packages/web-app/src/components/executionWidget/actions/withdrawCard.tsx
  packages/web-app/src/components/multisigEligibility/index.tsx
  packages/web-app/src/components/selectEligibility/index.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/index.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/containers/actionBuilder/removeAddresses/index.tsx
  packages/web-app/src/containers/actionBuilder/updateMinimumApproval/index.tsx
  packages/web-app/src/containers/actionBuilder/withdraw/withdrawAction.tsx
  packages/web-app/src/containers/compareSettings/index.tsx
  packages/web-app/src/containers/goLive/community.tsx
  packages/web-app/src/containers/proposalSnapshot/index.tsx
  packages/web-app/src/containers/proposalStepper/index.tsx
  packages/web-app/src/containers/settings/multisig/index.tsx
  packages/web-app/src/containers/setupVotingForm/tokenVoting.tsx
  packages/web-app/src/containers/treasurySnapshot/index.tsx
  packages/web-app/src/containers/walletMenu/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/locales/ru-UA/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/pages/manageMembers.tsx
  packages/web-app/src/pages/mintTokens.tsx
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/utils/htmlIn.ts
Labels: web-app

#713 Fix: Scroll up not working for the pages with disabled next button
  packages/web-app/src/components/fullScreenStepper/fullScreenStepper.tsx
  packages/web-app/src/hooks/useStepper.tsx
Labels: web-app

#706 Feature: APP-1773 - Multisig DAO - Decode plugin settings action
  packages/web-app/src/components/descriptionList/index.tsx
  packages/web-app/src/components/executionWidget/actions/modifyMetadataCard.tsx
  packages/web-app/src/components/executionWidget/actions/modifyMultisigSettingsCard.tsx
  packages/web-app/src/components/executionWidget/actions/modifySettingsCard.tsx
  packages/web-app/src/components/executionWidget/actionsFilter.tsx
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/actionBuilder/updateMinimumApproval/index.tsx
  packages/web-app/src/context/actions.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/pages/manageMembers.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/constants/misc.ts
  packages/web-app/src/utils/library.ts
  packages/web-app/src/utils/proposals.ts
  packages/web-app/src/utils/types.ts
Labels: web-app

#708 Chore: APP-1748 Proposals improvements
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/hooks/useDaoParam.tsx
  packages/web-app/src/hooks/useProposals.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/utils/types.ts
Labels: web-app

#715 Chore: Update labels
  packages/web-app/src/components/executionWidget/actions/modifyMultisigSettingsCard.tsx
Labels: web-app

#707 Fix APP 1669 - Finance - rework calculations
  packages/web-app/src/hooks/useDaoVault.tsx
  packages/web-app/src/pages/finance.tsx
  packages/web-app/src/pages/tokens.tsx
  packages/web-app/src/utils/tokens.ts
Labels: web-app

#717 Fix: APP-1779 - Set proper defaults for withdraw and propose settings duration
  packages/web-app/src/app.tsx
  packages/web-app/src/pages/newWithdraw.tsx
Labels: web-app, preview

#704 Fix: calendar date input double icon
  packages/ui-components/src/components/input/dateInput.tsx
Labels: ui-components

#709 Feature: APP-1786 - Multisig DAO - Caching Proposal Approval and Execution
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/useProposals.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/constants/misc.ts
  packages/web-app/src/utils/proposals.ts
  packages/web-app/src/utils/types.ts
Labels: web-app

#661 Chore: APP-1591 Add Synpress
  .gitignore
  packages/web-app/jest.config.js
  packages/web-app/package.json
  packages/web-app/synpress.config.js
  packages/web-app/synpress1.json
  packages/web-app/tests/e2e/Testing.md
  packages/web-app/tests/e2e/default/runContext.json
  packages/web-app/tests/e2e/pages/LoginComponent.ts
  packages/web-app/tests/e2e/runContext.json
  packages/web-app/tests/e2e/runContext.ts
  packages/web-app/tests/e2e/specs/login.spec.ts
  packages/web-app/tests/e2e/support.ts
  packages/web-app/tests/e2e/tsconfig.json
  yarn.lock
Labels: web-app

#716 Feat: Multisig Proposal Execution
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#711 Fix: Remove ENS subdomain field from the setting page
  packages/web-app/src/containers/defineMetadata/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/editSettings.tsx
  packages/web-app/src/pages/settings.tsx
  packages/web-app/src/utils/validators.ts
Labels: web-app, preview

#714 Fix: Add total holders
  packages/web-app/src/components/executionWidget/actions/mintTokenCard.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/containers/reviewDeposit/index.tsx
  packages/web-app/src/pages/newDeposit.tsx
  packages/web-app/src/utils/types.ts
Labels: web-app

#712 Chore: App-1776 sdk 0.21.0
  packages/web-app/package.json
  packages/web-app/src/containers/transactionDetail/index.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/context/deposit.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/hooks/useDaoBalances.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/usePollTransfersPrices.tsx
  packages/web-app/src/hooks/useProposals.tsx
  packages/web-app/src/hooks/useTokenMetadata.tsx
  packages/web-app/src/hooks/useWalletCanVote.tsx
  packages/web-app/src/hooks/useWalletTokens.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/library.ts
  packages/web-app/src/utils/proposals.ts
  packages/web-app/src/utils/tokens.ts
  packages/web-app/src/utils/types.ts
  yarn.lock
Labels: web-app, preview

#720 fix/update subgraph
  packages/web-app/src/utils/constants/api.ts
Labels: web-app

#721 Fix: (ad hoc) Show DAOs with zero plugins on explorer
  packages/web-app/src/containers/daoExplorer/daoExplorer.tsx
  packages/web-app/src/hooks/useDaos.tsx
Labels: web-app

#722 subgraph -> 0.7.2
  packages/web-app/src/utils/constants/api.ts
Labels: web-app

#718 Feature: APP-1787 - Multisig DAO - Cache Proposal
  packages/web-app/src/containers/actionBuilder/updateMinimumApproval/index.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/useProposals.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/utils/constants/misc.ts
  packages/web-app/src/utils/proposals.ts
Labels: web-app, preview

#724 Fix:100% abstain vote app crashes
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#682 App 1719 multisig proposal card
  packages/ui-components/src/components/cards/cardProposal.tsx
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/containers/proposalSnapshot/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/pages/governance.tsx
  yarn.lock
Labels: ui-components, web-app, preview

#728 Fix: Disable vote/approve button on vote submit
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#729 Fix: add Ens label & Fix transaction link
  packages/ui-components/package.json
  packages/ui-components/src/components/input/searchInput.tsx
  packages/ui-components/src/components/input/textInput.tsx
  packages/web-app/src/components/executionWidget/index.tsx
  packages/web-app/src/containers/defineMetadata/index.tsx
  packages/web-app/src/pages/proposal.tsx
  yarn.lock
Labels: ui-components, web-app, preview

#730 Chore: Majority Voting - Voters table updates
  packages/ui-components/src/components/table/votersTable.tsx
  packages/web-app/src/utils/proposals.ts
Labels: ui-components, web-app

#727 Feature: APP-1639 - Cached Proposal status
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/useProposals.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#731 Chore - APP-1852 update to sdk 0.21.2
  packages/web-app/package.json
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/proposals.ts
  packages/web-app/src/utils/types.ts
  packages/web-app/tests/e2e/runContext.json
  yarn.lock
Labels: web-app, preview

#725 Feat: Live updates for proposals
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#733 Feature: APP-1879 - Remove external contract interaction
  packages/web-app/src/hooks/useDaoActions.tsx
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#726 New Crowdin updates
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/locales/ru-UA/common.json
Labels: web-app

#737 Adhoc - Fixes for latest crowdin
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/utils/htmlIn.ts
Labels: web-app

#735 Fix: App-1837 - Setting Proposal Gas Estimation Error
  packages/web-app/src/containers/editSettings/majorityVoting.tsx
  packages/web-app/src/pages/proposeSettings.tsx
Labels: web-app

#736 Feat: Add feedback button
  packages/ui-components/src/components/icons/interface/icon_feedback.tsx
  packages/ui-components/src/components/icons/interface/index.ts
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/containers/navbar/mobile.tsx
  packages/web-app/src/containers/navbar/mobileMenu.tsx
  packages/web-app/src/locales/en-US/common.json
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/locales/es-ES/common.json
  packages/web-app/src/locales/pt-BR/common.json
  packages/web-app/src/locales/ru-UA/common.json
  packages/web-app/src/utils/constants/api.ts
Labels: ui-components, web-app

#739 Chore: Remove description from deposit flow
  packages/web-app/src/containers/depositForm/index.tsx
Labels: web-app

#738 Chore: APP-1885 SDK 0.22 integration
  packages/web-app/package.json
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/containers/transactionDetail/index.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/context/deposit.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/useProposals.tsx
  packages/web-app/src/hooks/useWalletCanVote.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/utils/proposals.ts
  packages/web-app/src/utils/types.ts
  yarn.lock
Labels: web-app

#743 Feature: APP-1894 Explorer - Temporary Removal of Popular DAOs
  packages/web-app/src/containers/daoExplorer/daoExplorer.tsx
Labels: web-app

#745 Chore: Temporarily remove proposal tags
  packages/ui-components/src/components/wizard/wizard.tsx
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/containers/votingTerminal/infoTab.tsx
  packages/web-app/src/pages/proposal.tsx
Labels: ui-components, web-app

#748 Chore - update sdk to 23.0
  packages/web-app/package.json
  packages/web-app/src/utils/constants/api.ts
  yarn.lock
Labels: web-app, preview

#749 Fix: Hide AlertChip with z-index
  packages/ui-components/src/components/alerts/alertChip.tsx
Labels: ui-components

#750 fix avatar setting issue
  packages/web-app/src/containers/compareSettings/compareMetadata.tsx
Labels: web-app

#747 Fix/APP-1868 - Voting option after revote
  packages/web-app/src/components/executionWidget/index.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useWalletCanVote.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/proposals.ts
Labels: web-app, preview

#752 Fix: Eth withdrawal decoding action
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#756 Chore: SDK bump - 0.23.2-beta
  packages/web-app/package.json
  yarn.lock
Labels: web-app

#740 Fix: Alpha Launch chain Fix
  packages/ui-components/src/components/input/searchInput.tsx
  packages/ui-components/src/components/wizard/wizard.tsx
  packages/web-app/src/components/fullScreenStepper/fullScreenStepper.tsx
  packages/web-app/src/containers/goLive/blockchain.tsx
  packages/web-app/src/containers/selectChainForm/index.tsx
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/htmlIn.ts
Labels: ui-components, web-app

#759 Mainnet Release
  packages/web-app/package.json
  packages/web-app/src/containers/daoExplorer/daoExplorer.tsx
  packages/web-app/src/containers/goLive/daoMetadata.tsx
  packages/web-app/src/containers/goLive/index.tsx
  packages/web-app/src/context/providers.tsx
  packages/web-app/src/pages/settings.tsx
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/constants/chains.ts
  yarn.lock
Labels: web-app, preview

#754 Feature: APP-1774 - Multisig DAO- Status widget
  packages/web-app/src/components/executionWidget/index.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#760 Fix: New Deposit page wallet and network switch modals connected
  packages/web-app/src/pages/newDeposit.tsx
Labels: web-app
