Repository aragon/app, pull requests merged in 2023-07, with the labels that each got.

#899 fix: APP-2194 fixing ALL feedback QA issues
  packages/web-app/src/containers/goLive/community.tsx
  packages/web-app/src/containers/govTokensWrappingModal/GovTokensWrappingModal.tsx
  packages/web-app/src/containers/proposalSnapshot/index.tsx
  packages/web-app/src/context/govTokensWrapping.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/useDaoVault.tsx
  packages/web-app/src/hooks/useProposals.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#900 Chore: APP-APP-2276 - Revert to production IPFS node
  packages/web-app/src/utils/constants/chains.ts
Labels: web-app

#901 Fix: APP-2302 - Fetching Multisig proposals
  packages/web-app/src/hooks/useProposals.tsx
Labels: web-app

#902 Fixes multiple ui issues in existing token flow
  packages/ui-components/src/components/alerts/alertCard.tsx
  packages/web-app/src/components/verificationCard/index.tsx
  packages/web-app/src/containers/configureCommunity/minParticipation.tsx
  packages/web-app/src/containers/govTokensWrappingModal/GovTokensWrappingModal.tsx
  packages/web-app/src/hooks/useDaoToken.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/community.tsx
Labels: ui-components, web-app

#906 Fix: Load singular proposal - Multisig
  packages/web-app/src/components/verificationCard/index.tsx
  packages/web-app/src/containers/membershipSnapshot/index.tsx
  packages/web-app/src/containers/treasurySnapshot/index.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
Labels: web-app, preview

#891 feat: APP-2262 wallet connect v2 interceptor
  packages/web-app/package.json
  packages/web-app/src/hooks/useWalletConnectInterceptor.ts
  packages/web-app/src/services/walletConnectInterceptor.ts
  packages/web-app/src/wcV2-interceptor-example.tsx
  yarn.lock
Labels: web-app

#895 Feature: APP-2290 - Input Wallet in Multisig Creation
  packages/web-app/src/components/multisigWallets/index.tsx
  packages/web-app/src/components/multisigWallets/row.tsx
  packages/web-app/src/components/wrappedWalletInput/index.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/addressRow.tsx
  packages/web-app/src/containers/communityAddressesModal/index.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/utils/library.ts
  packages/web-app/src/utils/validators.ts
Labels: web-app

#907 Feat: APP-2312 Improve workflow performances
  .github/workflows/preview_delete.yml
  .github/workflows/pull_request_storybook_preview.yml
  .github/workflows/pull_request_webapp_preview.yml
  .github/workflows/webapp-deploy-dev.yml
  .github/workflows/webapp-deploy.yml
  .github/workflows/webapp-test.yml
  packages/ui-components/package.json
  packages/ui-components/tsdx.config.js
  packages/web-app/index.html
  packages/web-app/vite.config.ts
Labels: ui-components, web-app, preview

#909 Fix: APP-2307 Solved the existing erc-20 token issues
  packages/web-app/src/components/verificationCard/index.tsx
  packages/web-app/src/containers/configureCommunity/minParticipation.tsx
  packages/web-app/src/containers/goLive/community.tsx
  packages/web-app/src/containers/govTokensWrappingModal/GovTokensWrappingModal.tsx
  packages/web-app/src/hooks/useExistingToken.tsx
  packages/web-app/src/pages/community.tsx
Labels: web-app

#910 fix: APP-2277 fixed multisig dao manage members add addresses empty f…
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#912 Chore: APP-2308 - Bump SDK to v 1.9.5
  packages/web-app/package.json
  packages/web-app/src/hooks/useDaoToken.tsx
  yarn.lock
Labels: web-app

#908 Feat: DAO Wallet Connect Main Flow
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/smartContractComposer/desktopModal/header.tsx
  packages/web-app/src/containers/walletConnect/actionListenerModal/index.tsx
  packages/web-app/src/containers/walletConnect/connectedAppsModal/index.tsx
  packages/web-app/src/containers/walletConnect/dAppValidationModal/index.tsx
  packages/web-app/src/containers/walletConnect/index.tsx
  packages/web-app/src/hooks/useWalletConnectInterceptor.ts
  packages/web-app/src/utils/types.ts
Labels: web-app

#911 Feature: APP-2264 - Action Builder & Execution Widget
  packages/web-app/src/components/executionWidget/actions/walletConnectActionCard.tsx
  packages/web-app/src/components/executionWidget/actionsFilter.tsx
  packages/web-app/src/components/modalHeader/searchHeader.tsx
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/actionBuilder/walletConnect/index.tsx
  packages/web-app/src/containers/smartContractComposer/components/inputForm.tsx
  packages/web-app/src/containers/smartContractComposer/desktopModal/index.tsx
  packages/web-app/src/containers/smartContractComposer/mobileModal/index.tsx
  packages/web-app/src/containers/walletConnect/actionListenerModal/index.tsx
  packages/web-app/src/containers/walletConnect/connectedAppsModal/index.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/constants/misc.ts
  packages/web-app/src/utils/library.ts
  packages/web-app/src/utils/types.ts
Labels: web-app

#914 Chore - APP-2322 update sdk
  packages/web-app/package.json
  yarn.lock
Labels: web-app, preview

#916 Feature: APP-2319 - Input Wallet ENS - Multisig Manage Members
  packages/ui-components/src/components/listItem/address.tsx
  packages/web-app/src/components/addLinks/__tests__/addLinks.test.tsx
  packages/web-app/src/components/executionWidget/actions/addAddressCard.tsx
  packages/web-app/src/components/executionWidget/actions/removeAddressCard.tsx
  packages/web-app/src/components/tokenList/__tests__/tokenList.test.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/addressRow.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/index.tsx
  packages/web-app/src/utils/library.ts
  packages/web-app/src/utils/types.ts
Labels: ui-components, web-app

#919 Update subgraph to V1.2.2
  packages/web-app/src/utils/constants/api.ts
Labels: web-app

#913 Fix: Update the bigint encoder error - APP-2257
  packages/web-app/src/context/createProposal.tsx
Labels: web-app, preview

#920 Feature: APP-2100 - Expired Multisig Proposal
  packages/web-app/src/components/executionWidget/index.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/useProposals.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/utils/proposals.ts
Labels: web-app

#922 Feature: APP-2327 - DAO Creation - Wallet Input
  packages/web-app/src/components/addWallets/index.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/components/multisigWallets/index.tsx
  packages/web-app/src/components/multisigWallets/row.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/addressTokenRow.tsx
  packages/web-app/src/containers/communityAddressesModal/index.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/pages/createDAO.tsx
Labels: web-app

#918 Fix: APP-2315 - ActionCard view for Tuples
  packages/web-app/src/containers/smartContractComposer/components/inputForm.tsx
Labels: web-app, preview

#923 Feature: APP-2337 - Input Wallet - Mint Tokens
  src/components/addWallets/row.tsx
  src/components/executionWidget/actions/addAddressCard.tsx
  src/components/executionWidget/actions/mintTokenCard.tsx
  src/components/executionWidget/actions/removeAddressCard.tsx
  src/components/multisigWallets/row.tsx
  src/components/wrappedWalletInput/index.tsx
  src/containers/actionBuilder/addAddresses/addressRow.tsx
  src/containers/actionBuilder/mintTokens/addressTokenRow.tsx
  src/containers/actionBuilder/mintTokens/index.tsx
  src/containers/configureWithdraw/index.tsx
  src/containers/mintTokensToTreasuryMenu/index.tsx
  src/containers/setupCommunity/addExistingToken.tsx
  src/containers/transactionModals/depositModal.tsx
  src/context/createProposal.tsx
  src/pages/mintTokens.tsx
  src/utils/library.ts
  src/utils/types.ts
  src/utils/validators.ts
  tailwind.config.js
Labels: web-app

#933 Fix: APP-2341 - Fix connection issues on DAO WalletConnect
  package.json
  src/components/modalHeader/index.tsx
  src/containers/walletConnect/actionListenerModal/index.tsx
  src/containers/walletConnect/connectedAppsModal/index.tsx
  src/containers/walletConnect/dAppValidationModal/index.tsx
  src/containers/walletConnect/index.tsx
  src/hooks/useWalletConnectInterceptor.ts
  src/services/walletConnectInterceptor.ts
  src/wcV2-interceptor-example.tsx
Labels: preview

#942 Fix: APP-2359 - Improve stability of DAO WalletConnect connections
  src/containers/walletConnect/dAppValidationModal/index.tsx
  src/containers/walletConnect/index.tsx
  src/hooks/useWalletConnectInterceptor.ts
  src/index.tsx
Labels: preview
