Repository aragon/app, pull requests merged in 2023-04, with the labels that each got.

#803 Fix: APP-2014 - Depositing tokens with decimals
  packages/web-app/src/context/deposit.tsx
  packages/web-app/src/hooks/usePollGasfee.tsx
Labels: web-app, preview

#802 Fix: Proposal Creation - Handle wallet lock during the creation flow
  packages/web-app/src/context/signer.tsx
Labels: web-app

#742 Fix: APP-1749 - Majority Voting - Dynamic Winning Options
  packages/ui-components/src/components/cards/cardProposal.tsx
  packages/web-app/package.json
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/containers/proposalSnapshot/index.tsx
Labels: ui-components, web-app

#804 Fix: APP-2080 APP-2030
  packages/web-app/src/components/addWallets/index.tsx
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/components/ctaCard/data.ts
  packages/web-app/src/containers/navbar/exploreNav.tsx
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/utils/constants/misc.ts
Labels: web-app

#806 Fix: APP-2095 - Long token name and symbol
  packages/web-app/src/containers/tokenMenu/tokenBox.tsx
Labels: web-app, preview

#810 Fix: APP-2097 - Metamask not disconnecting properly
  packages/web-app/src/context/signer.tsx
Labels: web-app

#809 Fix: Get token list from alchemy api - APP-2042
  .github/workflows/pull_request_webapp_preview.yml
  .github/workflows/webapp-deploy-dev.yml
  .github/workflows/webapp-deploy.yml
  packages/web-app/src/hooks/useDaoBalances.tsx
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/constants/chains.ts
Labels: web-app

#807 Fix: APP-1749 - proper support threshold
  packages/web-app/src/components/proposalList/index.tsx
Labels: web-app

#812 Fix: APP-2118 - DAO and wallet network mismatch
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/accordionSummary.tsx
  packages/web-app/src/context/providers.tsx
  packages/web-app/src/hooks/useWallet.tsx
Labels: web-app

#813 Fix: fetch list of transfers from alchemy api
  packages/web-app/src/context/network.tsx
  packages/web-app/src/hooks/useCategorizedTransfers.tsx
  packages/web-app/src/hooks/useDaoTransfers.tsx
Labels: web-app

#808 Chore: APP-2105 Refactor useDaoDetails
  packages/web-app/src/containers/daoExplorer/daoExplorer.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/context/network.tsx
  packages/web-app/src/hooks/useCachedDaos.tsx
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/hooks/useDaoDetailsQuery.tsx
  packages/web-app/src/hooks/useFavoritedDaos.tsx
  packages/web-app/src/hooks/usePendingDao.tsx
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/services/cache.ts
Labels: web-app

#805 Feature: APP-1982 - AOs - ENS - use ENS name in url
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/compareSettings/index.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/daoExplorer/daoExplorer.tsx
  packages/web-app/src/containers/navbar/daoSelectMenu.tsx
  packages/web-app/src/containers/proposalStepper/index.tsx
  packages/web-app/src/containers/transactionDetail/index.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useDaoParam.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/pages/editSettings.tsx
  packages/web-app/src/pages/finance.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/pages/manageMembers.tsx
  packages/web-app/src/pages/mintTokens.tsx
  packages/web-app/src/pages/newDeposit.tsx
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/proposeSettings.tsx
Labels: web-app

#816 Fix: APP-2130 - Filtering transaction list
  packages/web-app/src/pages/transfers.tsx
Labels: web-app

#811 Feature: APP-1125 - SCC: Store verified contracts
  packages/web-app/src/containers/smartContractComposer/components/contractAddressValidation.tsx
  packages/web-app/src/containers/smartContractComposer/components/smartContractListGroup.tsx
  packages/web-app/src/containers/smartContractComposer/contractListModal/index.tsx
  packages/web-app/src/containers/smartContractComposer/desktopModal/index.tsx
  packages/web-app/src/pages/demoScc.tsx
  packages/web-app/src/services/cache.ts
  packages/web-app/src/utils/constants/misc.ts
  packages/web-app/src/utils/types.ts
Labels: web-app

#817 New Crowdin updates
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/locales/ru-UA/common.json
Labels: web-app

#814 Chore: APP-2106 - Remove useDaoParam
  packages/web-app/src/app.tsx
  packages/web-app/src/components/executionWidget/actions/mintTokenCard.tsx
  packages/web-app/src/components/executionWidget/actionsFilter.tsx
  packages/web-app/src/components/proposalList/index.tsx
  packages/web-app/src/components/protectedRoute/index.tsx
  packages/web-app/src/components/transferList/index.tsx
  packages/web-app/src/containers/actionBuilder/index.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/containers/compareSettings/compareMetadata.tsx
  packages/web-app/src/containers/compareSettings/index.tsx
  packages/web-app/src/containers/compareSettings/majorityVoting/compareCommunity.tsx
  packages/web-app/src/containers/compareSettings/majorityVoting/compareGovernance.tsx
  packages/web-app/src/containers/configureActions/index.tsx
  packages/web-app/src/containers/configureWithdraw/index.tsx
  packages/web-app/src/containers/editSettings/majorityVoting.tsx
  packages/web-app/src/containers/editSettings/multisig.tsx
  packages/web-app/src/containers/gatingMenu/index.tsx
  packages/web-app/src/containers/membershipSnapshot/index.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/containers/proposalSnapshot/index.tsx
  packages/web-app/src/containers/proposalStepper/index.tsx
  packages/web-app/src/containers/reviewProposal/index.tsx
  packages/web-app/src/containers/treasurySnapshot/index.tsx
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/context/deposit.tsx
  packages/web-app/src/context/proposalTransaction.tsx
  packages/web-app/src/hooks/useCategorizedTransfers.tsx
  packages/web-app/src/hooks/useDaoActions.tsx
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/hooks/useDaoDetailsQuery.tsx
  packages/web-app/src/hooks/useDaoParam.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/useDaoVault.tsx
  packages/web-app/src/pages/community.tsx
  packages/web-app/src/pages/dashboard.tsx
  packages/web-app/src/pages/editSettings.tsx
  packages/web-app/src/pages/finance.tsx
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/pages/manageMembers.tsx
  packages/web-app/src/pages/mintTokens.tsx
  packages/web-app/src/pages/newDeposit.tsx
  packages/web-app/src/pages/newProposal.tsx
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/pages/settings.tsx
  packages/web-app/src/pages/tokens.tsx
  packages/web-app/src/pages/transfers.tsx
  packages/web-app/src/utils/test-utils.tsx
Labels: web-app

#815 Fix: APP-2121 - withdraw action for getting ens name in receiver input
  packages/web-app/src/context/createProposal.tsx
  packages/web-app/src/hooks/useDaoBalances.tsx
  packages/web-app/src/pages/newWithdraw.tsx
Labels: web-app

#822 Feature: APP-2131: Add Search Methods to Transfers List
  packages/web-app/src/pages/transfers.tsx
Labels: web-app, preview

#824 Chore: APP-2145 - TODOs and cleanup
  packages/web-app/package.json
  packages/web-app/scripts/generate-abis-and-types.js
  packages/web-app/src/abis/DAOFactory.json
  packages/web-app/src/abis/Registry.json
  packages/web-app/src/abis/TokenFactory.json
  packages/web-app/src/hooks/useDaoMetadata.tsx
  packages/web-app/src/queries/__generated__/DAO.ts
  packages/web-app/src/queries/__generated__/DAOs.ts
  packages/web-app/src/queries/__generated__/balances.ts
  packages/web-app/src/queries/__generated__/erc20VotingPackages.ts
  packages/web-app/src/queries/__generated__/erc20VotingProposal.ts
  packages/web-app/src/queries/__generated__/erc20VotingProposals.ts
  packages/web-app/src/queries/__generated__/packages.ts
  packages/web-app/src/queries/__generated__/transfers.ts
  packages/web-app/src/queries/__generated__/whitelistPackages.ts
  packages/web-app/src/queries/__generated__/whitelistProposal.ts
  packages/web-app/src/queries/__generated__/whitelistProposals.ts
  packages/web-app/src/queries/dao.tsx
  packages/web-app/src/queries/finances.tsx
  packages/web-app/src/queries/packages.tsx
  packages/web-app/src/queries/proposals.tsx
  packages/web-app/types/global_apollo.ts
  yarn.lock
Labels: web-app

#819 Fix: APP-2140 - DAO Creation Fails when Using Default of 1 Token
  packages/web-app/src/context/createDao.tsx
Labels: web-app, preview

#825 Fix: APP-2062 - Create Proposal Page - 'read this guide' duplicate
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/transfers.tsx
Labels: web-app

#823 Feature: APP-1827 & APP-1717 - DAO & Proposal Creation Exit process dialog
  packages/ui-components/src/components/illustrations/object/goal.tsx
  packages/ui-components/src/components/illustrations/object/illuObject.tsx
  packages/ui-components/src/components/illustrations/object/index.tsx
  packages/ui-components/src/components/illustrations/object/notFound.tsx
  packages/ui-components/src/components/illustrations/object/success.tsx
  packages/ui-components/src/components/illustrations/object/warning.tsx
  packages/web-app/src/components/fullScreenStepper/fullScreenStepper.tsx
  packages/web-app/src/components/stateEmpty/index.tsx
  packages/web-app/src/containers/daoOverview/index.tsx
  packages/web-app/src/containers/exitProcessMenu/index.tsx
  packages/web-app/src/containers/navbar/desktop.tsx
  packages/web-app/src/containers/navbar/index.tsx
  packages/web-app/src/containers/proposalStepper/index.tsx
  packages/web-app/src/containers/transactionModals/DepositModal.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/createDAO.tsx
  packages/web-app/src/pages/manageMembers.tsx
  packages/web-app/src/pages/mintTokens.tsx
  packages/web-app/src/pages/newWithdraw.tsx
Labels: ui-components, web-app

#827 Fix finance empty state mobile texts
  packages/web-app/src/containers/pageEmptyState/index.tsx
  packages/web-app/src/pages/finance.tsx
Labels: web-app
