Repository aragon/app, pull requests merged in 2023-03, with the labels that each got.

#755 Feat: proposal live updates
  packages/web-app/src/hooks/useCache.tsx
  packages/web-app/src/hooks/useDaoProposal.tsx
  packages/web-app/src/hooks/useMappedBreadcrumbs.tsx
  packages/web-app/src/hooks/useWalletCanVote.tsx
  packages/web-app/src/pages/proposal.tsx
Labels: web-app

#762 Fix: Removed upload csv buttons
  packages/web-app/src/components/executionWidget/actions/mintTokenCard.tsx
  packages/web-app/src/containers/actionBuilder/addAddresses/index.tsx
  packages/web-app/src/containers/actionBuilder/mintTokens/index.tsx
  packages/web-app/src/containers/actionBuilder/removeAddresses/index.tsx
  packages/web-app/src/pages/mintTokens.tsx
Labels: web-app

#764 Fix: APP-1949 ipfs nodes
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/utils/constants/api.ts
Labels: web-app

#763 Fix: APP-1899 - DAO creation mint tokens underflow
  packages/web-app/src/components/addWallets/row.tsx
  packages/web-app/src/containers/selectChainForm/index.tsx
  packages/web-app/src/utils/constants/misc.ts
Labels: web-app

#765 Fix: Changes Aragon logo and fixes URL regex
  packages/web-app/src/containers/navbar/exploreNav.tsx
  packages/web-app/src/public/logo.svg
  packages/web-app/src/public/logoBlue.svg
  packages/web-app/src/utils/constants/regex.ts
Labels: web-app, preview

#768 Fix: APP-1957 - DAO Logo pinning on update metadata settings action
  packages/web-app/src/components/executionWidget/actions/modifyMetadataCard.tsx
  packages/web-app/src/context/createDao.tsx
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/utils/library.ts
Labels: web-app

#771 DAO Creation - Auto lowercasing ENS input
  packages/web-app/src/containers/defineMetadata/index.tsx
Labels: web-app

#769 Fix: Address modal in dao creation go live page
  packages/ui-components/src/components/table/votersTable.tsx
Labels: ui-components

#772 Fix: Footer padding
  packages/web-app/src/containers/footer/index.tsx
Labels: web-app

#773 Chore: Ens domain on card DAO and header DAO components
  packages/ui-components/src/components/headers/headerDao.tsx
  packages/ui-components/stories/headerDao.stories.tsx
  packages/ui-components/tailwind.config.js
  packages/web-app/src/components/daoCard/index.tsx
  packages/web-app/src/containers/daoExplorer/daoExplorer.tsx
  packages/web-app/src/pages/dashboard.tsx
Labels: ui-components, web-app

#776 Fix: APP-1986 Navigate user to 404 page when DAO not found
  packages/web-app/src/containers/compareSettings/compareMetadata.tsx
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/hooks/useDaoParam.tsx
  packages/web-app/src/pages/manageMembers.tsx
  packages/web-app/src/pages/mintTokens.tsx
  packages/web-app/src/pages/settings.tsx
Labels: web-app

#751 Feat: E2E testing for DAO Creation flow
  packages/web-app/tests/e2e/pages/CreateDAO.ts
  packages/web-app/tests/e2e/pages/LoginComponent.ts
  packages/web-app/tests/e2e/runContext.json
  packages/web-app/tests/e2e/specs/login.spec.ts
  packages/web-app/tests/e2e/support.ts
Labels: web-app

#766 chore: fix typo in ui-components/README.md
  packages/ui-components/README.md
Labels: ui-components

#778 DAO Creation - Address Modal Only Displays 3 Addresses
  packages/web-app/src/containers/communityAddressesModal/index.tsx
Labels: web-app

#777 Feature:APP-1958 Splitting plugin settings & metadata action
  packages/web-app/src/containers/editSettings/majorityVoting.tsx
  packages/web-app/src/containers/editSettings/multisig.tsx
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/hooks/useDaos.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/utils/library.ts
Labels: web-app

#774 F/app 1966 cache sync
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/utils/library.ts
Labels: web-app

#779 Feature: APP-2000 - Remove unnecessary update voting action when adding/removing members
  packages/web-app/src/containers/proposalStepper/index.tsx
  packages/web-app/src/containers/setupVotingForm/index.tsx
  packages/web-app/src/pages/manageMembers.tsx
  packages/web-app/src/pages/mintTokens.tsx
  packages/web-app/src/pages/newWithdraw.tsx
  packages/web-app/src/pages/proposeSettings.tsx
  packages/web-app/src/utils/library.ts
Labels: web-app

#782 Fix: APP-1407 duplicate subgraph calls
  packages/web-app/package.json
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/utils/__tests__/cache.test.ts
  packages/web-app/src/utils/expiringCache.ts
  packages/web-app/src/utils/expiringPromiseCache.ts
Labels: web-app

#780 Chore: Open connect wallet modal on publish proposal if not connected
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/proposalStepper/index.tsx
Labels: web-app

#781 Chore: Fixes favorites modal and other minor things
  packages/ui-components/src/components/modal/modal.tsx
  packages/web-app/src/components/ctaCard/data.ts
  packages/web-app/src/containers/navbar/daoSelectMenu.tsx
  packages/web-app/src/locales/en/common.json
  packages/web-app/src/pages/governance.tsx
  packages/web-app/src/utils/constants/misc.ts
Labels: ui-components, web-app, preview

#785 Fix: APP-2023 - Mint tokens snapshot
  packages/web-app/src/pages/proposal.tsx
  packages/web-app/src/utils/library.ts
Labels: web-app

#788 Fix/2036 network state
  packages/web-app/docs/networkState.md
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/editSettings/majorityVoting.tsx
  packages/web-app/src/containers/editSettings/multisig.tsx
  packages/web-app/src/containers/gatingMenu/index.tsx
  packages/web-app/src/containers/membershipSnapshot/index.tsx
  packages/web-app/src/containers/proposalSnapshot/index.tsx
  packages/web-app/src/containers/settings/majorityVoting/index.tsx
  packages/web-app/src/containers/settings/multisig/index.tsx
  packages/web-app/src/context/apolloClient.tsx
  packages/web-app/src/context/network.tsx
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/hooks/useWalletTokens.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/pages/explore.tsx
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/constants/chains.ts
Labels: web-app

#787 WIP: Updated wallet connect
  packages/web-app/package.json
  packages/web-app/src/components/addWallets/__tests__/addWallets
  packages/web-app/src/containers/navbar/__tests__/navbar.test
  packages/web-app/src/context/augmentedWallet.tsx
  packages/web-app/src/context/network.tsx
  packages/web-app/src/hooks/useWallet.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/utils/__tests__/proposals.test
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/test-utils.tsx
  yarn.lock
Labels: web-app

#789 Fix/APP-2047 - Avatar on Dashboard
  packages/web-app/src/hooks/useDaoDetails.tsx
  packages/web-app/src/hooks/useDaos.tsx
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/src/utils/library.ts
Labels: web-app

#791 Fix: Remove use-signer and use web3modal directly
  packages/web-app/package.json
  packages/web-app/src/context/network.tsx
  packages/web-app/src/context/signer.tsx
  packages/web-app/src/hooks/useWallet.tsx
  packages/web-app/src/index.tsx
  packages/web-app/src/utils/constants/api.ts
  packages/web-app/vite.config.ts
  yarn.lock
Labels: web-app

#790 Fix: Dao Name truncate
  packages/web-app/src/components/daoSelector/index.tsx
Labels: web-app

#793 Chore: Min Duration validation on edit settings page and link to Give Feedback
  packages/web-app/src/app.tsx
  packages/web-app/src/containers/editSettings/majorityVoting.tsx
  packages/web-app/src/utils/constants/api.ts
Labels: web-app

#794 Chore: Fixes minimum duration, min participation in "Old Settings" and adds validation to Define Proposal step
  packages/web-app/src/containers/compareSettings/majorityVoting/compareGovernance.tsx
  packages/web-app/src/containers/setupVotingForm/tokenVoting.tsx
  packages/web-app/src/pages/proposeSettings.tsx
Labels: web-app

#795 Fix - APP-1993 how to guide links
  packages/web-app/src/containers/setupCommunity/createNewToken.tsx
  packages/web-app/src/locales/en/common.json
Labels: web-app

#797 Fix proposal creation: Remove current from duration component
  packages/web-app/src/containers/setupVotingForm/tokenVoting.tsx
Labels: web-app

#799 Chore: APP-2076 - Bump SDK to 1.3.0
  packages/web-app/package.json
  yarn.lock
Labels: web-app

#800 Chore: Fixes min duration bug in settings flow
  packages/web-app/src/containers/duration/index.tsx
Labels: web-app

#798 Fix: APP-2061 - Explorer: Wrong network crash
  packages/web-app/src/app.tsx
  packages/web-app/src/context/network.tsx
  packages/web-app/src/hooks/useClient.tsx
  packages/web-app/src/pages/explore.tsx
Labels: web-app, preview

#796 Chore: Sanitize HTML on proposal page
  packages/web-app/package.json
  packages/web-app/src/pages/proposal.tsx
  yarn.lock
Labels: web-app
